<a href="https://colab.research.google.com/github/Janina712/MLTSA22_JBoecher/blob/main/Other/PercDeltaCoeff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Percentage of Vocalic Intervals (PercV)**

Total vowel durations divided by sum of vowel and consonant durations.

∑ⱽ\∑ⱽ(V+C)

**Imports and Set-Up**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
files.upload()

Saving RG_nPVI_Check.csv to RG_nPVI_Check (2).csv

{'RG_nPVI_Check.csv': b'"vowel","Duration","Breath.Group","m"\r\n" ""OW1""",0.149,1,5\r\n" ""IH1""",0.1,1,5\r\n" ""IY1""",0.14,1,5\r\n" ""AA1""",0.209,1,5\r\n" ""IH1""",0.19,1,5\r\n" ""AH1""",0.08,2,9\r\n" ""AH0""",0.059,2,9\r\n" ""EY1""",0.17,2,9\r\n" ""IH1""",0.09,2,9\r\n" ""AH0""",0.03,2,9\r\n" ""AH0""",0.03,2,9\r\n" ""OW1""",0.159,2,9\r\n" ""AO1""",0.13,2,9\r\n" ""ER0""",0.211,2,9\r\n" ""AH0""",0.08,3,5\r\n" ""IY0""",0.11,3,5\r\n" ""AE1""",0.029,3,5\r\n" ""AY2""",0.13,3,5\r\n" ""UH1""",0.09,3,5\r\n" ""IH1""",0.09,4,7\r\n" ""AO2""",0.079,4,7\r\n" ""IY1""",0.15,4,7\r\n" ""ER0""",0.07,4,7\r\n" ""IH1""",0.1,4,7\r\n" ""AH0""",0.03,4,7\r\n" ""IY0""",0.25,4,7\r\n" ""AH0""",0.091,5,6\r\n" ""AH0""",0.03,5,6\r\n" ""IH1""",0.04,5,6\r\n" ""AH0""",0.031,5,6\r\n" ""EH1""",0.04,5,6\r\n" ""AA2""",0.12,5,6\r\n" ""AY1""",0.08,6,10\r\n" ""AE1""",0.08,6,10\r\n" ""UW1""",0.059,6,10\r\n" ""AH0""",0.03,6,10\r\n" ""IH1""",0.189,6,10\r\n" ""AH0""",0.051,6,10\r\n" ""EH1""",0.04,6,10\r\n" ""AY1""",0.111,6,10\r\n" ""AE1""",0.129,6,10\r\n" ""AH0""",0.03,6,10\r\n" ""IH1""",0.05,7,10\r\n" ""IY0""",0.07,7,10\r\n" ""IH1""",0.03,7,10\r\n" ""AA1""",0.12,7,10\r\n" ""AH0""",0.03,7,10\r\n" ""ER1""",0.15,7,10\r\n" ""IH1""",0.03,7,10\r\n" ""AA1""",0.089,7,10\r\n" ""AY1""",0.1,7,10\r\n" ""AY1""",0.25,7,10\r\n" ""UW1""",0.179,8,4\r\n" ""AH0""",0.04,8,4\r\n" ""AY1""",0.14,8,4\r\n" ""AA1""",0.171,8,4\r\n" ""AE1""",0.079,9,9\r\n" ""AE1""",0.059,9,9\r\n" ""AH1""",0.08,9,9\r\n" ""OW1""",0.12,9,9\r\n" ""IY1""",0.141,9,9\r\n" ""AA1""",0.179,9,9\r\n" ""IY1""",0.08,9,9\r\n" ""UH0""",0.03,9,9\r\n" ""IY1""",0.21,9,9\r\n" ""AH0""",0.07,10,5\r\n" ""AH0""",0.031,10,5\r\n" ""EY1""",0.17,10,5\r\n" ""AH0""",0.061,10,5\r\n" ""AE1""",0.121,10,5\r\n" ""IY1""",0.06,11,13\r\n" ""EH1""",0.09,11,13\r\n" ""AY0""",0.059,11,13\r\n" ""EH1""",0.08,11,13\r\n" ""AH0""",0.03,11,13\r\n" ""IY0""",0.079,11,13\r\n" ""IH1""",0.03,11,13\r\n" ""ER1""",0.181,11,13\r\n" ""AH0""",0.06,11,13\r\n" ""AY1""",0.271,11,13\r\n" ""AH2""",0.11,11,13\r\n" ""AH0""",0.09,11,13\r\n" ""EH1""",0.16,11,13\r\n" ""AH0""",0.089,12,12\r\n" ""IY1""",0.08,12,12\r\n" ""UW1""",0.13,12,12\r\n" ""UH1""",0.041,12,12\r\n" ""EY1""",0.161,12,12\r\n" ""AH0""",0.09,12,12\r\n" ""UW1""",0.03,12,12\r\n" ""AH0""",0.029,12,12\r\n" ""EH2""",0.07,12,12\r\n" ""IY0""",0.13,12,12\r\n" ""IH2""",0.12,12,12\r\n" ""UH1""",0.14,12,12\r\n" ""AA1""",0.14,13,15\r\n" ""AH0""",0.04,13,15\r\n" ""AY2""",0.181,13,15\r\n" ""IH0""",0.049,13,15\r\n" ""IY0""",0.071,13,15\r\n" ""IH0""",0.06,13,15\r\n" ""IY1""",0.151,13,15\r\n" ""AO2""",0.07,13,15\r\n" ""IY1""",0.14,13,15\r\n" ""AO1""",0.17,13,15\r\n" ""ER0""",0.17,13,15\r\n" ""AH0""",0.04,13,15\r\n" ""IH1""",0.09,13,15\r\n" ""AH0""",0.031,13,15\r\n" ""IY0""",0.29,13,15\r\n" ""IY1""",0.11,14,20\r\n" ""UH0""",0.029,14,20\r\n" ""IY1""",0.141,14,20\r\n" ""IY1""",0.129,14,20\r\n" ""ER0""",0.139,14,20\r\n" ""IY0""",0.08,14,20\r\n" ""EY1""",0.151,14,20\r\n" ""AH0""",0.03,14,20\r\n" ""ER0""",0.21,14,20\r\n" ""AH1""",0.04,14,20\r\n" ""AH0""",0.05,14,20\r\n" ""OW1""",0.129,14,20\r\n" ""AY2""",0.1,14,20\r\n" ""AH0""",0.03,14,20\r\n" ""AO1""",0.149,14,20\r\n" ""IY0""",0.111,14,20\r\n" ""IY1""",0.11,14,20\r\n" ""ER0""",0.04,14,20\r\n" ""AO1""",0.129,14,20\r\n" ""ER0""",0.15,14,20\r\n" ""UW1""",0.14,15,7\r\n" ""AE1""",0.109,15,7\r\n" ""AH0""",0.04,15,7\r\n" ""EY1""",0.211,15,7\r\n" ""AH0""",0.03,15,7\r\n" ""AH0""",0.049,15,7\r\n" ""EH1""",0.189,15,7\r\n" ""AH0""",0.06,16,9\r\n" ""AH0""",0.031,16,9\r\n" ""AH0""",0.039,16,9\r\n" ""EH1""",0.06,16,9\r\n" ""IH0""",0.061,16,9\r\n" ""AE1""",0.16,16,9\r\n" ""AH0""",0.071,16,9\r\n" ""AH0""",0.03,16,9\r\n" ""AO1""",0.14,16,9\r\n" ""EH1""",0.031,17,8\r\n" ""IH1""",0.08,17,8\r\n" ""AH0""",0.03,17,8\r\n" ""IY0""",0.169,17,8\r\n" ""AH1""",0.111,17,8\r\n" ""AH1""",0.121,17,8\r\n" ""AH0""",0.08,17,8\r\n" ""EH1""",0.109,17,8\r\n" ""ER0""",0.171,18,9\r\n" ""EH1""",0.049,18,9\r\n" ""IY0""",0.27,18,9\r\n" ""IH0""",0.03,18,9\r\n" ""AH0""",0.04,18,9\r\n" ""AW1""",0.25,18,9\r\n" ""AH0""",0.09,18,9\r\n" ""EH1""",0.131,18,9\r\n" ""IH2""",0.06,18,9\r\n" ""AH0""",0.03,19,5\r\n" ""AH0""",0.07,19,5\r\n" ""IH1""",0.029,19,5\r\n" ""AH0""",0.03,19,5\r\n" ""AO1""",0.2,19,5\r\n" ""OW1""",0.339,20,8\r\n" ""AO1""",0.241,20,8\r\n" ""AH0""",0.04,20,8\r\n" ""IY1""",0.2,20,8\r\n" ""AH0""",0.03,20,8\r\n" ""UH1""",0.15,20,8\r\n" ""AH0""",0.03,20,8\r\n" ""AE1""",0.1,20,8\r\n" ""IY1""",0.08,21,12\r\n" ""UH0""",0.03,21,12\r\n" ""IY1""",0.17,21,12\r\n" ""IH1""",0.041,21,12\r\n" ""AA1""",0.121,21,12\r\n" ""IH1""",0.09,21,12\r\n" ""AH0""",0.08,21,12\r\n" ""AE1""",0.17,21,12\r\n" ""AH0""",0.05,21,12\r\n" ""IH1""",0.039,21,12\r\n" ""ER0""",0.09,21,12\r\n" ""IY0""",0.21,21,12\r\n" ""AE1""",0.15,22,19\r\n" ""IH0""",0.05,22,19\r\n" ""AE1""",0.08,22,19\r\n" ""AH1""",0.04,22,19\r\n" ""AH1""",0.049,22,19\r\n" ""AH0""",0.041,22,19\r\n" ""EY1""",0.141,22,19\r\n" ""ER0""",0.081,22,19\r\n" ""AO1""",0.04,22,19\r\n" ""OW2""",0.03,22,19\r\n" ""IY0""",0.06,22,19\r\n" ""IY1""",0.06,22,19\r\n" ""EH1""",0.05,22,19\r\n" ""ER0""",0.13,22,19\r\n" ""UH1""",0.059,22,19\r\n" ""AH0""",0.03,22,19\r\n" ""AH0""",0.041,22,19\r\n" ""IY0""",0.13,22,19\r\n" ""IY1""",0.25,22,19\r\n" ""AH0""",0.03,23,14\r\n" ""AH0""",0.031,23,14\r\n" ""AA1""",0.15,23,14\r\n" ""ER0""",0.191,23,14\r\n" ""AY1""",0.149,23,14\r\n" ""AH0""",0.03,23,14\r\n" ""AH0""",0.049,23,14\r\n" ""AW1""",0.1,23,14\r\n" ""EH1""",0.12,23,14\r\n" ""IY0""",0.03,23,14\r\n" ""AH2""",0.04,23,14\r\n" ""UW1""",0.04,23,14\r\n" ""AE1""",0.15,23,14\r\n" ""AY1""",0.34,23,14\r\n" ""AH0""",0.09,24,4\r\n" ""AH0""",0.029,24,4\r\n" ""AH0""",0.029,24,4\r\n" ""AH1""",0.06,24,4\r\n" ""IH1""",0.03,25,5\r\n" ""UH1""",0.1,25,5\r\n" ""IH1""",0.059,25,5\r\n" ""AH0""",0.03,25,5\r\n" ""IH1""",0.12,25,5\r\n" ""AH1""",0.05,26,19\r\n" ""ER0""",0.12,26,19\r\n" ""AE1""",0.08,26,19\r\n" ""AH0""",0.04,26,19\r\n" ""AH0""",0.05,26,19\r\n" ""IH1""",0.05,26,19\r\n" ""ER0""",0.131,26,19\r\n" ""AH1""",0.03,26,19\r\n" ""ER0""",0.08,26,19\r\n" ""AH0""",0.03,26,19\r\n" ""OW1""",0.13,26,19\r\n" ""ER0""",0.069,26,19\r\n" ""EY2""",0.14,26,19\r\n" ""AH0""",0.05,26,19\r\n" ""OW1""",0.16,26,19\r\n" ""AH0""",0.11,26,19\r\n" ""IH1""",0.08,26,19\r\n" ""AH0""",0.03,26,19\r\n" ""IY0""",0.221,26,19\r\n" ""IY0""",0.08,27,6\r\n" ""AA1""",0.07,27,6\r\n" ""AH0""",0.03,27,6\r\n" ""EH2""",0.08,27,6\r\n" ""ER0""",0.07,27,6\r\n" ""EH1""",0.089,27,6\r\n" ""AO1""",0.08,28,7\r\n" ""AO1""",0.119,28,7\r\n" ""AO1""",0.15,28,7\r\n" ""IY0""",0.1,28,7\r\n" ""AH0""",0.03,28,7\r\n" ""AE0""",0.079,28,7\r\n" ""UW1""",0.04,28,7\r\n" ""AH0""",0.081,29,7\r\n" ""AH1""",0.06,29,7\r\n" ""AH0""",0.06,29,7\r\n" ""IH2""",0.04,29,7\r\n" ""IH1""",0.029,29,7\r\n" ""AH0""",0.041,29,7\r\n" ""IY0""",0.21,29,7\r\n" ""IH1""",0.071,30,7\r\n" ""UW1""",0.04,30,7\r\n" ""AY1""",0.201,30,7\r\n" ""EY1""",0.1,30,7\r\n" ""OW1""",0.171,30,7\r\n" ""AE1""",0.19,30,7\r\n" ""AH0""",0.03,30,7\r\n" ""AH1""",0.069,31,7\r\n" ""ER0""",0.09,31,7\r\n" ""AE1""",0.15,31,7\r\n" ""AH1""",0.089,31,7\r\n" ""EH1""",0.06,31,7\r\n" ""IH1""",0.071,31,7\r\n" ""AH0""",0.03,31,7\r\n" ""AH0""",0.109,32,7\r\n" ""IY1""",0.11,32,7\r\n" ""AH0""",0.04,32,7\r\n" ""UH1""",0.089,32,7\r\n" ""IH1""",0.04,32,7\r\n" ""AH0""",0.03,32,7\r\n" ""UW1""",0.27,32,7\r\n" ""AO1""",0.119,33,11\r\n" ""ER0""",0.15,33,11\r\n" ""AH0""",0.03,33,11\r\n" ""AA1""",0.161,33,11\r\n" ""ER0""",0.25,33,11\r\n" ""AE1""",0.111,33,11\r\n" ""AH1""",0.09,33,11\r\n" ""ER0""",0.09,33,11\r\n" ""AH0""",0.04,33,11\r\n" ""AE1""",0.1,33,11\r\n" ""AH0""",0.03,33,11\r\n" ""AH0""",0.08,34,16\r\n" ""IH1""",0.031,34,16\r\n" ""EH1""",0.05,34,16\r\n" ""IY0""",0.129,34,16\r\n" ""AH0""",0.04,34,16\r\n" ""ER1""",0.171,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""AE1""",0.099,34,16\r\n" ""EH1""",0.059,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""UH2""",0.04,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""IY1""",0.129,34,16\r\n" ""AH0""",0.071,34,16\r\n" ""ER1""",0.19,34,16\r\n" ""EY2""",0.171,34,16\r\n'}

In [3]:
df = pd.read_csv("RG_nPVI_Check.csv")

In [4]:
df

      vowel  Duration  Breath.Group   m
0     "OW1"     0.149             1   5
1     "IH1"     0.100             1   5
2     "IY1"     0.140             1   5
3     "AA1"     0.209             1   5
4     "IH1"     0.190             1   5
..      ...       ...           ...  ..
312   "AH0"     0.030            34  16
313   "IY1"     0.129            34  16
314   "AH0"     0.071            34  16
315   "ER1"     0.190            34  16
316   "EY2"     0.171            34  16

[317 rows x 4 columns]

**Calculate total vowel duration of breath group**

In [5]:
numberBG = np.max(df["Breath.Group"])

In [6]:
Vsums = np.zeros(numberBG)

In [7]:
for i in range(1,numberBG+1):
  for j in range(0, len(df)):
    if df["Breath.Group"][j] == i:
      Vsums[i-1] = Vsums[i-1] + df["Duration"][j]

In [8]:
Vsums

array([0.788, 0.959, 0.439, 0.769, 0.352, 0.799, 0.919, 0.53 , 0.978,
       0.453, 1.3  , 1.11 , 1.693, 2.057, 0.768, 0.652, 0.731, 1.091,
       0.359, 1.13 , 1.171, 1.512, 1.45 , 0.208, 0.339, 1.651, 0.419,
       0.598, 0.521, 0.803, 0.559, 0.688, 1.171, 1.35 ])

**Add result to new dataframe**

In [9]:
newdf = pd.DataFrame(columns = ["BG", "VDuration","VCDuration","PrecV","DeltaV", "DeltaC", "AvgV", "AvgC", "CoeffV", "CoeffC"])

In [10]:
BGnumbered = list(range(1, numberBG+1))

In [11]:
newdf["BG"] = BGnumbered

In [12]:
newdf["VDuration"] = Vsums

In [13]:
newdf

    BG  VDuration VCDuration PrecV DeltaV DeltaC AvgV AvgC CoeffV CoeffC
0    1      0.788        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
1    2      0.959        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
2    3      0.439        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
3    4      0.769        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
4    5      0.352        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
5    6      0.799        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
6    7      0.919        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
7    8      0.530        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
8    9      0.978        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
9   10      0.453        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
10  11      1.300        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
11  12      1.110        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
12  13      1.693        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
13  14      2.057        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
14  15      0.768        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
15  16      0.652        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
16  17      0.731        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
17  18      1.091        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
18  19      0.359        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
19  20      1.130        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
20  21      1.171        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
21  22      1.512        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
22  23      1.450        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
23  24      0.208        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
24  25      0.339        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
25  26      1.651        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
26  27      0.419        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
27  28      0.598        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
28  29      0.521        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
29  30      0.803        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
30  31      0.559        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
31  32      0.688        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
32  33      1.171        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
33  34      1.350        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN

# **Delta V (DV): Standard deviation of V**

In [14]:
df

      vowel  Duration  Breath.Group   m
0     "OW1"     0.149             1   5
1     "IH1"     0.100             1   5
2     "IY1"     0.140             1   5
3     "AA1"     0.209             1   5
4     "IH1"     0.190             1   5
..      ...       ...           ...  ..
312   "AH0"     0.030            34  16
313   "IY1"     0.129            34  16
314   "AH0"     0.071            34  16
315   "ER1"     0.190            34  16
316   "EY2"     0.171            34  16

[317 rows x 4 columns]

In [15]:
grouped_df = df.groupby("Breath.Group")
grouped_lists = grouped_df["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [16]:
Vstd = np.zeros(len(grouped_lists))

In [17]:
for i in range(0,len(grouped_lists)):
  Vstd[i] = np.std(grouped_lists["Duration"][i])

In [18]:
newdf["DeltaV"] = Vstd

In [19]:
newdf

    BG  VDuration VCDuration PrecV    DeltaV DeltaC AvgV AvgC CoeffV CoeffC
0    1      0.788        NaN   NaN  0.038453    NaN  NaN  NaN    NaN    NaN
1    2      0.959        NaN   NaN  0.060733    NaN  NaN  NaN    NaN    NaN
2    3      0.439        NaN   NaN  0.034049    NaN  NaN  NaN    NaN    NaN
3    4      0.769        NaN   NaN  0.066182    NaN  NaN  NaN    NaN    NaN
4    5      0.352        NaN   NaN  0.034379    NaN  NaN  NaN    NaN    NaN
5    6      0.799        NaN   NaN  0.048088    NaN  NaN  NaN    NaN    NaN
6    7      0.919        NaN   NaN  0.065548    NaN  NaN  NaN    NaN    NaN
7    8      0.530        NaN   NaN  0.055356    NaN  NaN  NaN    NaN    NaN
8    9      0.978        NaN   NaN  0.055345    NaN  NaN  NaN    NaN    NaN
9   10      0.453        NaN   NaN  0.049155    NaN  NaN  NaN    NaN    NaN
10  11      1.300        NaN   NaN  0.065177    NaN  NaN  NaN    NaN    NaN
11  12      1.110        NaN   NaN  0.042612    NaN  NaN  NaN    NaN    NaN
12  13      1.693        NaN   NaN  0.070134    NaN  NaN  NaN    NaN    NaN
13  14      2.057        NaN   NaN  0.050213    NaN  NaN  NaN    NaN    NaN
14  15      0.768        NaN   NaN  0.067995    NaN  NaN  NaN    NaN    NaN
15  16      0.652        NaN   NaN  0.043856    NaN  NaN  NaN    NaN    NaN
16  17      0.731        NaN   NaN  0.043689    NaN  NaN  NaN    NaN    NaN
17  18      1.091        NaN   NaN  0.085732    NaN  NaN  NaN    NaN    NaN
18  19      0.359        NaN   NaN  0.065977    NaN  NaN  NaN    NaN    NaN
19  20      1.130        NaN   NaN  0.105647    NaN  NaN  NaN    NaN    NaN
20  21      1.171        NaN   NaN  0.056179    NaN  NaN  NaN    NaN    NaN
21  22      1.512        NaN   NaN  0.055137    NaN  NaN  NaN    NaN    NaN
22  23      1.450        NaN   NaN  0.085676    NaN  NaN  NaN    NaN    NaN
23  24      0.208        NaN   NaN  0.025328    NaN  NaN  NaN    NaN    NaN
24  25      0.339        NaN   NaN  0.036597    NaN  NaN  NaN    NaN    NaN
25  26      1.651        NaN   NaN  0.050990    NaN  NaN  NaN    NaN    NaN
26  27      0.419        NaN   NaN  0.018977    NaN  NaN  NaN    NaN    NaN
27  28      0.598        NaN   NaN  0.039126    NaN  NaN  NaN    NaN    NaN
28  29      0.521        NaN   NaN  0.057577    NaN  NaN  NaN    NaN    NaN
29  30      0.803        NaN   NaN  0.066727    NaN  NaN  NaN    NaN    NaN
30  31      0.559        NaN   NaN  0.034190    NaN  NaN  NaN    NaN    NaN
31  32      0.688        NaN   NaN  0.076794    NaN  NaN  NaN    NaN    NaN
32  33      1.171        NaN   NaN  0.062045    NaN  NaN  NaN    NaN    NaN
33  34      1.350        NaN   NaN  0.054796    NaN  NaN  NaN    NaN    NaN

# **Variable coefficient of vocalic intervals (VarcoV): DeltaV/Average V**

**Calculate average vowel duration in breath group**

In [20]:
grouped_df = df.groupby("Breath.Group")
grouped_lists = grouped_df["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [21]:
Vavg = np.zeros(len(grouped_lists))

In [22]:
for i in range(0,len(grouped_lists)):
  Vavg[i] = np.mean(grouped_lists["Duration"][i])

In [23]:
newdf["AvgV"] = Vavg

In [24]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,NaN,NaN,0.038453,NaN,0.157600,NaN,NaN,NaN
1,2,0.959,NaN,NaN,0.060733,NaN,0.106556,NaN,NaN,NaN
2,3,0.439,NaN,NaN,0.034049,NaN,0.087800,NaN,NaN,NaN
3,4,0.769,NaN,NaN,0.066182,NaN,0.109857,NaN,NaN,NaN
4,5,0.352,NaN,NaN,0.034379,NaN,0.058667,NaN,NaN,NaN
5,6,0.799,NaN,NaN,0.048088,NaN,0.079900,NaN,NaN,NaN
6,7,0.919,NaN,NaN,0.065548,NaN,0.091900,NaN,NaN,NaN
7,8,0.530,NaN,NaN,0.055356,NaN,0.132500,NaN,NaN,NaN
8,9,0.978,NaN,NaN,0.055345,NaN,0.108667,NaN,NaN,NaN
9,10,0.453,NaN,NaN,0.049155,NaN,0.090600,NaN,NaN,NaN
10,11,1.300,NaN,NaN,0.065177,NaN,0.100000,NaN,NaN,NaN
11,12,1.110,NaN,NaN,0.042612,NaN,0.092500,NaN,NaN,NaN
12,13,1.693,NaN,NaN,0.070134,NaN,0.112867,NaN,NaN,NaN
13,14,2.057,NaN,NaN,0.050213,NaN,0.102850,NaN,NaN,NaN
14,15,0.768,NaN,NaN,0.067995,NaN,0.109714,NaN,NaN,NaN
15,16,0.652,NaN,NaN,0.043856,NaN,0.072444,NaN,NaN,NaN
16,17,0.731,NaN,NaN,0.043689,NaN,0.091375,NaN,NaN,NaN
17,18,1.091,NaN,NaN,0.085732,NaN,0.121222,NaN,NaN,NaN
18,19,0.359,NaN,NaN,0.065977,NaN,0.071800,NaN,NaN,NaN
19,20,1.130,NaN,NaN,0.105647,NaN,0.141250,NaN,NaN,NaN
20,21,1.171,NaN,NaN,0.056179,NaN,0.097583,NaN,NaN,NaN
21,22,1.512,NaN,NaN,0.055137,NaN,0.079579,NaN,NaN,NaN
22,23,1.450,NaN,NaN,0.085676,NaN,0.103571,NaN,NaN,NaN
23,24,0.208,NaN,NaN,0.025328,NaN,0.052000,NaN,NaN,NaN
24,25,0.339,NaN,NaN,0.036597,NaN,0.067800,NaN,NaN,NaN
25,26,1.651,NaN,NaN,0.050990,NaN,0.086895,NaN,NaN,NaN
26,27,0.419,NaN,NaN,0.018977,NaN,0.069833,NaN,NaN,NaN
27,28,0.598,NaN,NaN,0.039126,NaN,0.085429,NaN,NaN,NaN
28,29,0.521,NaN,NaN,0.057577,NaN,0.074429,NaN,NaN,NaN
29,30,0.803,NaN,NaN,0.066727,NaN,0.114714,NaN,NaN,NaN
30,31,0.559,NaN,NaN,0.034190,NaN,0.079857,NaN,NaN,NaN
31,32,0.688,NaN,NaN,0.076794,NaN,0.098286,NaN,NaN,NaN
32,33,1.171,NaN,NaN,0.062045,NaN,0.106455,NaN,NaN,NaN
33,34,1.350,NaN,NaN,0.054796,NaN,0.084375,NaN,NaN,NaN

**Divide vowel duration std by average vowel duration**

In [25]:
VarcoV = Vstd/Vavg

In [26]:
newdf["CoeffV"] = VarcoV

In [27]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,NaN,NaN,0.038453,NaN,0.157600,NaN,0.243992,NaN
1,2,0.959,NaN,NaN,0.060733,NaN,0.106556,NaN,0.569963,NaN
2,3,0.439,NaN,NaN,0.034049,NaN,0.087800,NaN,0.387806,NaN
3,4,0.769,NaN,NaN,0.066182,NaN,0.109857,NaN,0.602441,NaN
4,5,0.352,NaN,NaN,0.034379,NaN,0.058667,NaN,0.585999,NaN
5,6,0.799,NaN,NaN,0.048088,NaN,0.079900,NaN,0.601857,NaN
6,7,0.919,NaN,NaN,0.065548,NaN,0.091900,NaN,0.713249,NaN
7,8,0.530,NaN,NaN,0.055356,NaN,0.132500,NaN,0.417779,NaN
8,9,0.978,NaN,NaN,0.055345,NaN,0.108667,NaN,0.509313,NaN
9,10,0.453,NaN,NaN,0.049155,NaN,0.090600,NaN,0.542553,NaN
10,11,1.300,NaN,NaN,0.065177,NaN,0.100000,NaN,0.651767,NaN
11,12,1.110,NaN,NaN,0.042612,NaN,0.092500,NaN,0.460666,NaN
12,13,1.693,NaN,NaN,0.070134,NaN,0.112867,NaN,0.621388,NaN
13,14,2.057,NaN,NaN,0.050213,NaN,0.102850,NaN,0.488214,NaN
14,15,0.768,NaN,NaN,0.067995,NaN,0.109714,NaN,0.619748,NaN
15,16,0.652,NaN,NaN,0.043856,NaN,0.072444,NaN,0.605376,NaN
16,17,0.731,NaN,NaN,0.043689,NaN,0.091375,NaN,0.478129,NaN
17,18,1.091,NaN,NaN,0.085732,NaN,0.121222,NaN,0.707229,NaN
18,19,0.359,NaN,NaN,0.065977,NaN,0.071800,NaN,0.918899,NaN
19,20,1.130,NaN,NaN,0.105647,NaN,0.141250,NaN,0.747940,NaN
20,21,1.171,NaN,NaN,0.056179,NaN,0.097583,NaN,0.575702,NaN
21,22,1.512,NaN,NaN,0.055137,NaN,0.079579,NaN,0.692865,NaN
22,23,1.450,NaN,NaN,0.085676,NaN,0.103571,NaN,0.827217,NaN
23,24,0.208,NaN,NaN,0.025328,NaN,0.052000,NaN,0.487074,NaN
24,25,0.339,NaN,NaN,0.036597,NaN,0.067800,NaN,0.539783,NaN
25,26,1.651,NaN,NaN,0.050990,NaN,0.086895,NaN,0.586803,NaN
26,27,0.419,NaN,NaN,0.018977,NaN,0.069833,NaN,0.271752,NaN
27,28,0.598,NaN,NaN,0.039126,NaN,0.085429,NaN,0.457993,NaN
28,29,0.521,NaN,NaN,0.057577,NaN,0.074429,NaN,0.773586,NaN
29,30,0.803,NaN,NaN,0.066727,NaN,0.114714,NaN,0.581680,NaN
30,31,0.559,NaN,NaN,0.034190,NaN,0.079857,NaN,0.428144,NaN
31,32,0.688,NaN,NaN,0.076794,NaN,0.098286,NaN,0.781336,NaN
32,33,1.171,NaN,NaN,0.062045,NaN,0.106455,NaN,0.582826,NaN
33,34,1.350,NaN,NaN,0.054796,NaN,0.084375,NaN,0.649435,NaN