<a href="https://colab.research.google.com/github/Janina712/MLTSA22_JBoecher/blob/main/Other/PercDeltaCoeff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Percentage of Vocalic Intervals (PercV)**

Total vowel durations divided by sum of vowel and consonant durations.

∑ⱽ\∑ⱽ(V+C)

**Imports and Set-Up**

In [1]:
import pandas as pd
import numpy as np

In [14]:
from google.colab import files
files.upload()

Saving RG_nPVI_Check.csv to RG_nPVI_Check.csv

{'RG_nPVI_Check.csv': b'"vowel","Duration","Breath.Group","m"\r\n" ""OW1""",0.149,1,5\r\n" ""IH1""",0.1,1,5\r\n" ""IY1""",0.14,1,5\r\n" ""AA1""",0.209,1,5\r\n" ""IH1""",0.19,1,5\r\n" ""AH1""",0.08,2,9\r\n" ""AH0""",0.059,2,9\r\n" ""EY1""",0.17,2,9\r\n" ""IH1""",0.09,2,9\r\n" ""AH0""",0.03,2,9\r\n" ""AH0""",0.03,2,9\r\n" ""OW1""",0.159,2,9\r\n" ""AO1""",0.13,2,9\r\n" ""ER0""",0.211,2,9\r\n" ""AH0""",0.08,3,5\r\n" ""IY0""",0.11,3,5\r\n" ""AE1""",0.029,3,5\r\n" ""AY2""",0.13,3,5\r\n" ""UH1""",0.09,3,5\r\n" ""IH1""",0.09,4,7\r\n" ""AO2""",0.079,4,7\r\n" ""IY1""",0.15,4,7\r\n" ""ER0""",0.07,4,7\r\n" ""IH1""",0.1,4,7\r\n" ""AH0""",0.03,4,7\r\n" ""IY0""",0.25,4,7\r\n" ""AH0""",0.091,5,6\r\n" ""AH0""",0.03,5,6\r\n" ""IH1""",0.04,5,6\r\n" ""AH0""",0.031,5,6\r\n" ""EH1""",0.04,5,6\r\n" ""AA2""",0.12,5,6\r\n" ""AY1""",0.08,6,10\r\n" ""AE1""",0.08,6,10\r\n" ""UW1""",0.059,6,10\r\n" ""AH0""",0.03,6,10\r\n" ""IH1""",0.189,6,10\r\n" ""AH0""",0.051,6,10\r\n" ""EH1""",0.04,6,10\r\n" ""AY1""",0.111,6,10\r\n" ""AE1""",0.129,6,10\r\n" ""AH0""",0.03,6,10\r\n" ""IH1""",0.05,7,10\r\n" ""IY0""",0.07,7,10\r\n" ""IH1""",0.03,7,10\r\n" ""AA1""",0.12,7,10\r\n" ""AH0""",0.03,7,10\r\n" ""ER1""",0.15,7,10\r\n" ""IH1""",0.03,7,10\r\n" ""AA1""",0.089,7,10\r\n" ""AY1""",0.1,7,10\r\n" ""AY1""",0.25,7,10\r\n" ""UW1""",0.179,8,4\r\n" ""AH0""",0.04,8,4\r\n" ""AY1""",0.14,8,4\r\n" ""AA1""",0.171,8,4\r\n" ""AE1""",0.079,9,9\r\n" ""AE1""",0.059,9,9\r\n" ""AH1""",0.08,9,9\r\n" ""OW1""",0.12,9,9\r\n" ""IY1""",0.141,9,9\r\n" ""AA1""",0.179,9,9\r\n" ""IY1""",0.08,9,9\r\n" ""UH0""",0.03,9,9\r\n" ""IY1""",0.21,9,9\r\n" ""AH0""",0.07,10,5\r\n" ""AH0""",0.031,10,5\r\n" ""EY1""",0.17,10,5\r\n" ""AH0""",0.061,10,5\r\n" ""AE1""",0.121,10,5\r\n" ""IY1""",0.06,11,13\r\n" ""EH1""",0.09,11,13\r\n" ""AY0""",0.059,11,13\r\n" ""EH1""",0.08,11,13\r\n" ""AH0""",0.03,11,13\r\n" ""IY0""",0.079,11,13\r\n" ""IH1""",0.03,11,13\r\n" ""ER1""",0.181,11,13\r\n" ""AH0""",0.06,11,13\r\n" ""AY1""",0.271,11,13\r\n" ""AH2""",0.11,11,13\r\n" ""AH0""",0.09,11,13\r\n" ""EH1""",0.16,11,13\r\n" ""AH0""",0.089,12,12\r\n" ""IY1""",0.08,12,12\r\n" ""UW1""",0.13,12,12\r\n" ""UH1""",0.041,12,12\r\n" ""EY1""",0.161,12,12\r\n" ""AH0""",0.09,12,12\r\n" ""UW1""",0.03,12,12\r\n" ""AH0""",0.029,12,12\r\n" ""EH2""",0.07,12,12\r\n" ""IY0""",0.13,12,12\r\n" ""IH2""",0.12,12,12\r\n" ""UH1""",0.14,12,12\r\n" ""AA1""",0.14,13,15\r\n" ""AH0""",0.04,13,15\r\n" ""AY2""",0.181,13,15\r\n" ""IH0""",0.049,13,15\r\n" ""IY0""",0.071,13,15\r\n" ""IH0""",0.06,13,15\r\n" ""IY1""",0.151,13,15\r\n" ""AO2""",0.07,13,15\r\n" ""IY1""",0.14,13,15\r\n" ""AO1""",0.17,13,15\r\n" ""ER0""",0.17,13,15\r\n" ""AH0""",0.04,13,15\r\n" ""IH1""",0.09,13,15\r\n" ""AH0""",0.031,13,15\r\n" ""IY0""",0.29,13,15\r\n" ""IY1""",0.11,14,20\r\n" ""UH0""",0.029,14,20\r\n" ""IY1""",0.141,14,20\r\n" ""IY1""",0.129,14,20\r\n" ""ER0""",0.139,14,20\r\n" ""IY0""",0.08,14,20\r\n" ""EY1""",0.151,14,20\r\n" ""AH0""",0.03,14,20\r\n" ""ER0""",0.21,14,20\r\n" ""AH1""",0.04,14,20\r\n" ""AH0""",0.05,14,20\r\n" ""OW1""",0.129,14,20\r\n" ""AY2""",0.1,14,20\r\n" ""AH0""",0.03,14,20\r\n" ""AO1""",0.149,14,20\r\n" ""IY0""",0.111,14,20\r\n" ""IY1""",0.11,14,20\r\n" ""ER0""",0.04,14,20\r\n" ""AO1""",0.129,14,20\r\n" ""ER0""",0.15,14,20\r\n" ""UW1""",0.14,15,7\r\n" ""AE1""",0.109,15,7\r\n" ""AH0""",0.04,15,7\r\n" ""EY1""",0.211,15,7\r\n" ""AH0""",0.03,15,7\r\n" ""AH0""",0.049,15,7\r\n" ""EH1""",0.189,15,7\r\n" ""AH0""",0.06,16,9\r\n" ""AH0""",0.031,16,9\r\n" ""AH0""",0.039,16,9\r\n" ""EH1""",0.06,16,9\r\n" ""IH0""",0.061,16,9\r\n" ""AE1""",0.16,16,9\r\n" ""AH0""",0.071,16,9\r\n" ""AH0""",0.03,16,9\r\n" ""AO1""",0.14,16,9\r\n" ""EH1""",0.031,17,8\r\n" ""IH1""",0.08,17,8\r\n" ""AH0""",0.03,17,8\r\n" ""IY0""",0.169,17,8\r\n" ""AH1""",0.111,17,8\r\n" ""AH1""",0.121,17,8\r\n" ""AH0""",0.08,17,8\r\n" ""EH1""",0.109,17,8\r\n" ""ER0""",0.171,18,9\r\n" ""EH1""",0.049,18,9\r\n" ""IY0""",0.27,18,9\r\n" ""IH0""",0.03,18,9\r\n" ""AH0""",0.04,18,9\r\n" ""AW1""",0.25,18,9\r\n" ""AH0""",0.09,18,9\r\n" ""EH1""",0.131,18,9\r\n" ""IH2""",0.06,18,9\r\n" ""AH0""",0.03,19,5\r\n" ""AH0""",0.07,19,5\r\n" ""IH1""",0.029,19,5\r\n" ""AH0""",0.03,19,5\r\n" ""AO1""",0.2,19,5\r\n" ""OW1""",0.339,20,8\r\n" ""AO1""",0.241,20,8\r\n" ""AH0""",0.04,20,8\r\n" ""IY1""",0.2,20,8\r\n" ""AH0""",0.03,20,8\r\n" ""UH1""",0.15,20,8\r\n" ""AH0""",0.03,20,8\r\n" ""AE1""",0.1,20,8\r\n" ""IY1""",0.08,21,12\r\n" ""UH0""",0.03,21,12\r\n" ""IY1""",0.17,21,12\r\n" ""IH1""",0.041,21,12\r\n" ""AA1""",0.121,21,12\r\n" ""IH1""",0.09,21,12\r\n" ""AH0""",0.08,21,12\r\n" ""AE1""",0.17,21,12\r\n" ""AH0""",0.05,21,12\r\n" ""IH1""",0.039,21,12\r\n" ""ER0""",0.09,21,12\r\n" ""IY0""",0.21,21,12\r\n" ""AE1""",0.15,22,19\r\n" ""IH0""",0.05,22,19\r\n" ""AE1""",0.08,22,19\r\n" ""AH1""",0.04,22,19\r\n" ""AH1""",0.049,22,19\r\n" ""AH0""",0.041,22,19\r\n" ""EY1""",0.141,22,19\r\n" ""ER0""",0.081,22,19\r\n" ""AO1""",0.04,22,19\r\n" ""OW2""",0.03,22,19\r\n" ""IY0""",0.06,22,19\r\n" ""IY1""",0.06,22,19\r\n" ""EH1""",0.05,22,19\r\n" ""ER0""",0.13,22,19\r\n" ""UH1""",0.059,22,19\r\n" ""AH0""",0.03,22,19\r\n" ""AH0""",0.041,22,19\r\n" ""IY0""",0.13,22,19\r\n" ""IY1""",0.25,22,19\r\n" ""AH0""",0.03,23,14\r\n" ""AH0""",0.031,23,14\r\n" ""AA1""",0.15,23,14\r\n" ""ER0""",0.191,23,14\r\n" ""AY1""",0.149,23,14\r\n" ""AH0""",0.03,23,14\r\n" ""AH0""",0.049,23,14\r\n" ""AW1""",0.1,23,14\r\n" ""EH1""",0.12,23,14\r\n" ""IY0""",0.03,23,14\r\n" ""AH2""",0.04,23,14\r\n" ""UW1""",0.04,23,14\r\n" ""AE1""",0.15,23,14\r\n" ""AY1""",0.34,23,14\r\n" ""AH0""",0.09,24,4\r\n" ""AH0""",0.029,24,4\r\n" ""AH0""",0.029,24,4\r\n" ""AH1""",0.06,24,4\r\n" ""IH1""",0.03,25,5\r\n" ""UH1""",0.1,25,5\r\n" ""IH1""",0.059,25,5\r\n" ""AH0""",0.03,25,5\r\n" ""IH1""",0.12,25,5\r\n" ""AH1""",0.05,26,19\r\n" ""ER0""",0.12,26,19\r\n" ""AE1""",0.08,26,19\r\n" ""AH0""",0.04,26,19\r\n" ""AH0""",0.05,26,19\r\n" ""IH1""",0.05,26,19\r\n" ""ER0""",0.131,26,19\r\n" ""AH1""",0.03,26,19\r\n" ""ER0""",0.08,26,19\r\n" ""AH0""",0.03,26,19\r\n" ""OW1""",0.13,26,19\r\n" ""ER0""",0.069,26,19\r\n" ""EY2""",0.14,26,19\r\n" ""AH0""",0.05,26,19\r\n" ""OW1""",0.16,26,19\r\n" ""AH0""",0.11,26,19\r\n" ""IH1""",0.08,26,19\r\n" ""AH0""",0.03,26,19\r\n" ""IY0""",0.221,26,19\r\n" ""IY0""",0.08,27,6\r\n" ""AA1""",0.07,27,6\r\n" ""AH0""",0.03,27,6\r\n" ""EH2""",0.08,27,6\r\n" ""ER0""",0.07,27,6\r\n" ""EH1""",0.089,27,6\r\n" ""AO1""",0.08,28,7\r\n" ""AO1""",0.119,28,7\r\n" ""AO1""",0.15,28,7\r\n" ""IY0""",0.1,28,7\r\n" ""AH0""",0.03,28,7\r\n" ""AE0""",0.079,28,7\r\n" ""UW1""",0.04,28,7\r\n" ""AH0""",0.081,29,7\r\n" ""AH1""",0.06,29,7\r\n" ""AH0""",0.06,29,7\r\n" ""IH2""",0.04,29,7\r\n" ""IH1""",0.029,29,7\r\n" ""AH0""",0.041,29,7\r\n" ""IY0""",0.21,29,7\r\n" ""IH1""",0.071,30,7\r\n" ""UW1""",0.04,30,7\r\n" ""AY1""",0.201,30,7\r\n" ""EY1""",0.1,30,7\r\n" ""OW1""",0.171,30,7\r\n" ""AE1""",0.19,30,7\r\n" ""AH0""",0.03,30,7\r\n" ""AH1""",0.069,31,7\r\n" ""ER0""",0.09,31,7\r\n" ""AE1""",0.15,31,7\r\n" ""AH1""",0.089,31,7\r\n" ""EH1""",0.06,31,7\r\n" ""IH1""",0.071,31,7\r\n" ""AH0""",0.03,31,7\r\n" ""AH0""",0.109,32,7\r\n" ""IY1""",0.11,32,7\r\n" ""AH0""",0.04,32,7\r\n" ""UH1""",0.089,32,7\r\n" ""IH1""",0.04,32,7\r\n" ""AH0""",0.03,32,7\r\n" ""UW1""",0.27,32,7\r\n" ""AO1""",0.119,33,11\r\n" ""ER0""",0.15,33,11\r\n" ""AH0""",0.03,33,11\r\n" ""AA1""",0.161,33,11\r\n" ""ER0""",0.25,33,11\r\n" ""AE1""",0.111,33,11\r\n" ""AH1""",0.09,33,11\r\n" ""ER0""",0.09,33,11\r\n" ""AH0""",0.04,33,11\r\n" ""AE1""",0.1,33,11\r\n" ""AH0""",0.03,33,11\r\n" ""AH0""",0.08,34,16\r\n" ""IH1""",0.031,34,16\r\n" ""EH1""",0.05,34,16\r\n" ""IY0""",0.129,34,16\r\n" ""AH0""",0.04,34,16\r\n" ""ER1""",0.171,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""AE1""",0.099,34,16\r\n" ""EH1""",0.059,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""UH2""",0.04,34,16\r\n" ""AH0""",0.03,34,16\r\n" ""IY1""",0.129,34,16\r\n" ""AH0""",0.071,34,16\r\n" ""ER1""",0.19,34,16\r\n" ""EY2""",0.171,34,16\r\n'}

In [15]:
df = pd.read_csv("RG_nPVI_Check.csv")

In [16]:
df

      vowel  Duration  Breath.Group   m
0     "OW1"     0.149             1   5
1     "IH1"     0.100             1   5
2     "IY1"     0.140             1   5
3     "AA1"     0.209             1   5
4     "IH1"     0.190             1   5
..      ...       ...           ...  ..
312   "AH0"     0.030            34  16
313   "IY1"     0.129            34  16
314   "AH0"     0.071            34  16
315   "ER1"     0.190            34  16
316   "EY2"     0.171            34  16

[317 rows x 4 columns]

**Calculate total vowel duration of breath group**

In [17]:
numberBG = np.max(df["Breath.Group"])

In [18]:
Vsums = np.zeros(numberBG)

In [19]:
for i in range(1,numberBG+1):
  for j in range(0, len(df)):
    if df["Breath.Group"][j] == i:
      Vsums[i-1] = Vsums[i-1] + df["Duration"][j]

In [20]:
Vsums

array([0.788, 0.959, 0.439, 0.769, 0.352, 0.799, 0.919, 0.53 , 0.978,
       0.453, 1.3  , 1.11 , 1.693, 2.057, 0.768, 0.652, 0.731, 1.091,
       0.359, 1.13 , 1.171, 1.512, 1.45 , 0.208, 0.339, 1.651, 0.419,
       0.598, 0.521, 0.803, 0.559, 0.688, 1.171, 1.35 ])

**Add result to new dataframe**

In [21]:
newdf = pd.DataFrame(columns = ["BG", "VDuration","VCDuration","PrecV","DeltaV", "DeltaC", "AvgV", "AvgC", "CoeffV", "CoeffC"])

In [22]:
BGnumbered = list(range(1, numberBG+1))

In [23]:
newdf["BG"] = BGnumbered

In [24]:
newdf["VDuration"] = Vsums

In [25]:
newdf

    BG  VDuration VCDuration PrecV DeltaV DeltaC AvgV AvgC CoeffV CoeffC
0    1      0.788        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
1    2      0.959        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
2    3      0.439        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
3    4      0.769        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
4    5      0.352        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
5    6      0.799        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
6    7      0.919        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
7    8      0.530        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
8    9      0.978        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
9   10      0.453        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
10  11      1.300        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
11  12      1.110        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
12  13      1.693        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
13  14      2.057        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
14  15      0.768        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
15  16      0.652        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
16  17      0.731        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
17  18      1.091        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
18  19      0.359        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
19  20      1.130        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
20  21      1.171        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
21  22      1.512        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
22  23      1.450        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
23  24      0.208        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
24  25      0.339        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
25  26      1.651        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
26  27      0.419        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
27  28      0.598        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
28  29      0.521        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
29  30      0.803        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
30  31      0.559        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
31  32      0.688        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
32  33      1.171        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN
33  34      1.350        NaN   NaN    NaN    NaN  NaN  NaN    NaN    NaN

**Calculate total vowel + consonant duration**

In [2]:
from google.colab import files
files.upload()

Saving RG_nPVI_Check_consonant.csv to RG_nPVI_Check_consonant (4).csv

{'RG_nPVI_Check_consonant.csv': b'"Interval.Time","text","vowel","Duration","Offset","Breath.Group","m"\r\n2.56876342750244,"text","""S""",0.19,0.443,1,11\r\n4.85682550300718,"text","""OW1""",0.149,0.592,1,11\r\n6.18854056664459,"text","""HH""",0.11,0.702,1,11\r\n7.92914615952318,"text","""IH1""",0.1,0.802,1,11\r\n9.17817791785006,"text","""R""",0.09,0.892,1,11\r\n11.2946352460146,"text","""W""",0.0509999999999999,0.943,1,11\r\n13.7926987626684,"text","""IY1""",0.14,1.083,1,11\r\n15.3480968013396,"text","""AA1""",0.209,1.292,1,11\r\n18.2758028795457,"text","""R""",0.22,1.512,1,11\r\n20.3092553470605,"text","""IH1""",0.19,1.892,1,11\r\n23.8102893652492,"text","""N""",0.211,2.103,1,11\r\n26.9917853534403,"text","""T""",0.0899999999999999,2.832,2,20\r\n30.6300397897194,"text","""AH1""",0.0800000000000001,2.912,2,20\r\n35.838266555573,"text","""K""",0.0790000000000002,2.991,2,20\r\n38.1006637027312,"text","""T""",0.0409999999999999,3.032,2,20\r\n40.1038278434441,"text","""AH0""",0.0590000000000002,3.091,2,20\r\n42.0816772483363,"text","""W""",0.18,3.271,2,20\r\n44.6246015066469,"text","""EY1""",0.17,3.441,2,20\r\n45.8952486985349,"text","""IH1""",0.0900000000000003,3.531,2,20\r\n48.8167713013137,"text","""N""",0.04,3.571,2,20\r\n52.5140813193486,"text","""AH0""",0.0299999999999998,3.601,2,20\r\n57.4733288183976,"text","""R""",0.16,3.761,2,20\r\n61.1827044095988,"text","""AH0""",0.0299999999999998,3.791,2,20\r\n62.2869720529309,"text","""M""",0.121,3.912,2,20\r\n63.7384668494879,"text","""OW1""",0.159,4.071,2,20\r\n68.1189850858292,"text","""T""",0.0609999999999999,4.132,2,20\r\n69.7490784925201,"text","""K""",0.239000000000001,4.371,2,20\r\n71.899441154086,"text","""AO1""",0.13,4.501,2,20\r\n73.6376509721851,"text","""R""",0.0299999999999994,4.531,2,20\r\n76.772155185478,"text","""N""",0.0300000000000002,4.561,2,20\r\n79.1913131745087,"text","""ER0""",0.211,4.772,2,20\r\n81.037041121695,"text","""AH0""",0.0800000000000001,5.14,3,12\r\n84.3880229287226,"text","""V""",0.0300000000000002,5.17,3,12\r\n88.2924754943483,"text","""DH""",0.04,5.21,3,12\r\nNA,"text","""IY0""",0.11,5.32,3,12\r\nNA,"text","""AE1""",0.0289999999999999,5.349,3,12\r\nNA,"text","""L""",0.16,5.509,3,12\r\nNA,"text","""P""",0.14,5.649,3,12\r\nNA,"text","""AY2""",0.13,5.779,3,12\r\nNA,"text","""N""",0.12,5.899,3,12\r\nNA,"text","""F""",0.12,6.019,3,12\r\nNA,"text","""UH1""",0.0899999999999999,6.109,3,12\r\nNA,"text","""T""",0.0709999999999997,6.18,3,12\r\nNA,"text","""IH1""",0.0900000000000007,6.392,4,16\r\nNA,"text","""N""",0.0599999999999996,6.452,4,16\r\nNA,"text","""N""",0.0800000000000001,6.532,4,16\r\nNA,"text","""AO2""",0.0789999999999997,6.611,4,16\r\nNA,"text","""R""",0.0700000000000003,6.681,4,16\r\nNA,"text","""TH""",0.0899999999999999,6.771,4,16\r\nNA,"text","""IY1""",0.15,6.921,4,16\r\nNA,"text","""S""",0.12,7.041,4,16\r\nNA,"text","""T""",0.0299999999999994,7.071,4,16\r\nNA,"text","""ER0""",0.0700000000000003,7.141,4,16\r\nNA,"text","""N""",0.0999999999999996,7.241,4,16\r\nNA,"text","""IH1""",0.100000000000001,7.341,4,16\r\nNA,"text","""T""",0.0300000000000002,7.371,4,16\r\nNA,"text","""AH0""",0.0299999999999994,7.401,4,16\r\nNA,"text","""L""",0.141,7.542,4,16\r\nNA,"text","""IY0""",0.25,7.792,4,16\r\nNA,"text","""AH0""",0.0909999999999993,8.112,5,16\r\nNA,"text","""T""",0.0299999999999994,8.142,5,16\r\nNA,"text","""AH0""",0.0300000000000011,8.172,5,16\r\nNA,"text","""L""",0.109999999999999,8.282,5,16\r\nNA,"text","""IH1""",0.0399999999999991,8.322,5,16\r\nNA,"text","""T""",0.0290000000000017,8.351,5,16\r\nNA,"text","""AH0""",0.0309999999999988,8.382,5,16\r\nNA,"text","""L""",0.0289999999999999,8.411,5,16\r\nNA,"text","""R""",0.130000000000001,8.541,5,16\r\nNA,"text","""EH1""",0.0399999999999991,8.581,5,16\r\nNA,"text","""S""",0.120000000000001,8.701,5,16\r\nNA,"text","""T""",0.0510000000000002,8.752,5,16\r\nNA,"text","""R""",0.119999999999999,8.872,5,16\r\nNA,"text","""AA2""",0.120000000000001,8.992,5,16\r\nNA,"text","""N""",0.0599999999999987,9.052,5,16\r\nNA,"text","""T""",0.0389999999999997,9.091,5,16\r\nNA,"text","""AY1""",0.0800000000000001,9.43,6,24\r\nNA,"text","""HH""",0.0300000000000011,9.46,6,24\r\nNA,"text","""AE1""",0.0799999999999983,9.54,6,24\r\nNA,"text","""V""",0.0290000000000017,9.569,6,24\r\nNA,"text","""T""",0.0709999999999997,9.64,6,24\r\nNA,"text","""UW1""",0.0589999999999993,9.699,6,24\r\nNA,"text","""AH0""",0.0299999999999994,9.729,6,24\r\nNA,"text","""D""",0.0600000000000005,9.789,6,24\r\nNA,"text","""M""",0.101000000000001,9.89,6,24\r\nNA,"text","""IH1""",0.189,10.079,6,24\r\nNA,"text","""T""",0.0800000000000001,10.159,6,24\r\nNA,"text","""DH""",0.0599999999999987,10.219,6,24\r\nNA,"text","""AH0""",0.0510000000000002,10.27,6,24\r\nNA,"text","""T""",0.0300000000000011,10.3,6,24\r\nNA,"text","""W""",0.0489999999999995,10.349,6,24\r\nNA,"text","""EH1""",0.0399999999999991,10.389,6,24\r\nNA,"text","""N""",0.0500000000000007,10.439,6,24\r\nNA,"text","""AY1""",0.111000000000001,10.55,6,24\r\nNA,"text","""T""",0.148999999999999,10.699,6,24\r\nNA,"text","""R""",0.0909999999999993,10.79,6,24\r\nNA,"text","""AE1""",0.129000000000001,10.919,6,24\r\nNA,"text","""V""",0.0299999999999994,10.949,6,24\r\nNA,"text","""AH0""",0.0299999999999994,10.979,6,24\r\nNA,"text","""L""",0.271000000000001,11.25,6,24\r\nNA,"text","""HH""",0.0899999999999999,11.558,7,28\r\nNA,"text","""IH1""",0.0500000000000007,11.608,7,28\r\nNA,"text","""S""",0.109,11.717,7,28\r\nNA,"text","""T""",0.0309999999999988,11.748,7,28\r\nNA,"text","""R""",0.0690000000000008,11.817,7,28\r\nNA,"text","""IY0""",0.0700000000000003,11.887,7,28\r\nNA,"text","""IH1""",0.0299999999999994,11.917,7,28\r\nNA,"text","""Z""",0.130000000000001,12.047,7,28\r\nNA,"text","""N""",0.0299999999999994,12.077,7,28\r\nNA,"text","""AA1""",0.119999999999999,12.197,7,28\r\nNA,"text","""T""",0.0300000000000011,12.227,7,28\r\nNA,"text","""DH""",0.0499999999999989,12.277,7,28\r\nNA,"text","""AH0""",0.0300000000000011,12.307,7,28\r\nNA,"text","""F""",0.129999999999999,12.437,7,28\r\nNA,"text","""ER1""",0.15,12.587,7,28\r\nNA,"text","""S""",0.0910000000000011,12.678,7,28\r\nNA,"text","""T""",0.0289999999999999,12.707,7,28\r\nNA,"text","""TH""",0.0399999999999991,12.747,7,28\r\nNA,"text","""IH1""",0.0299999999999994,12.777,7,28\r\nNA,"text","""NG""",0.0910000000000011,12.868,7,28\r\nNA,"text","""AA1""",0.0890000000000004,12.957,7,28\r\nNA,"text","""N""",0.0499999999999989,13.007,7,28\r\nNA,"text","""M""",0.0800000000000001,13.087,7,28\r\nNA,"text","""AY1""",0.0999999999999996,13.187,7,28\r\nNA,"text","""M""",0.141,13.328,7,28\r\nNA,"text","""AY1""",0.25,13.578,7,28\r\nNA,"text","""N""",0.100000000000001,13.678,7,28\r\nNA,"text","""D""",0.0199999999999996,13.698,7,28\r\nNA,"text","""F""",0.0300000000000011,13.976,8,11\r\nNA,"text","""UW1""",0.178999999999998,14.155,8,11\r\nNA,"text","""D""",0.0510000000000002,14.206,8,11\r\nNA,"text","""AH0""",0.0400000000000009,14.246,8,11\r\nNA,"text","""N""",0.0890000000000004,14.335,8,11\r\nNA,"text","""D""",0.0399999999999991,14.375,8,11\r\nNA,"text","""W""",0.130000000000001,14.505,8,11\r\nNA,"text","""AY1""",0.139999999999999,14.645,8,11\r\nNA,"text","""N""",0.0600000000000005,14.705,8,11\r\nNA,"text","""AA1""",0.170999999999999,14.876,8,11\r\nNA,"text","""R""",0.119,14.995,8,11\r\nNA,"text","""AE1""",0.0790000000000006,15.72,9,25\r\nNA,"text","""N""",0.0409999999999986,15.761,9,25\r\nNA,"text","""D""",0.0190000000000001,15.78,9,25\r\nNA,"text","""DH""",0.0310000000000006,15.811,9,25\r\nNA,"text","""AE1""",0.0589999999999993,15.87,9,25\r\nNA,"text","""T""",0.0300000000000011,15.9,9,25\r\nNA,"text","""S""",0.0700000000000003,15.97,9,25\r\nNA,"text","""HH""",0.0709999999999997,16.041,9,25\r\nNA,"text","""W""",0.0590000000000011,16.1,9,25\r\nNA,"text","""AH1""",0.0799999999999983,16.18,9,25\r\nNA,"text","""T""",0.199999999999999,16.38,9,25\r\nNA,"text","""S""",0.130000000000003,16.51,9,25\r\nNA,"text","""OW1""",0.119999999999997,16.63,9,25\r\nNA,"text","""L""",0.0609999999999999,16.691,9,25\r\nNA,"text","""D""",0.0199999999999996,16.711,9,25\r\nNA,"text","""M""",0.0590000000000011,16.77,9,25\r\nNA,"text","""IY1""",0.141000000000002,16.911,9,25\r\nNA,"text","""AA1""",0.178999999999998,17.09,9,25\r\nNA,"text","""N""",0.16,17.25,9,25\r\nNA,"text","""F""",0.0899999999999999,17.34,9,25\r\nNA,"text","""R""",0.120999999999999,17.461,9,25\r\nNA,"text","""IY1""",0.0800000000000018,17.541,9,25\r\nNA,"text","""UH0""",0.0300000000000011,17.571,9,25\r\nNA,"text","""L""",0.219999999999999,17.791,9,25\r\nNA,"text","""IY1""",0.210000000000001,18.001,9,25\r\nNA,"text","""AH0""",0.0700000000000003,18.669,10,11\r\nNA,"text","""T""",0.0289999999999999,18.698,10,11\r\nNA,"text","""AH0""",0.0309999999999988,18.729,10,11\r\nNA,"text","""Z""",0.109999999999999,18.839,10,11\r\nNA,"text","""F""",0.189,19.028,10,11\r\nNA,"text","""EY1""",0.170000000000002,19.198,10,11\r\nNA,"text","""M""",0.109999999999999,19.308,10,11\r\nNA,"text","""AH0""",0.0609999999999999,19.369,10,11\r\nNA,"text","""S""",0.309000000000001,19.678,10,11\r\nNA,"text","""AE1""",0.120999999999999,20.119,10,11\r\nNA,"text","""Z""",0.178999999999998,20.298,10,11\r\nNA,"text","""W""",0.0389999999999979,20.624,11,32\r\nNA,"text","""IY1""",0.0600000000000023,20.684,11,32\r\nNA,"text","""W""",0.0599999999999987,20.744,11,32\r\nNA,"text","""EH1""",0.0899999999999999,20.834,11,32\r\nNA,"text","""N""",0.0300000000000011,20.864,11,32\r\nNA,"text","""T""",0.0309999999999988,20.895,11,32\r\nNA,"text","""P""",0.0590000000000011,20.954,11,32\r\nNA,"text","""R""",0.0609999999999999,21.015,11,32\r\nNA,"text","""AY0""",0.0590000000000011,21.074,11,32\r\nNA,"text","""M""",0.129999999999999,21.204,11,32\r\nNA,"text","""EH1""",0.0799999999999983,21.284,11,32\r\nNA,"text","""R""",0.0600000000000023,21.344,11,32\r\nNA,"text","""AH0""",0.0299999999999976,21.374,11,32\r\nNA,"text","""L""",0.0609999999999999,21.435,11,32\r\nNA,"text","""IY0""",0.0790000000000006,21.514,11,32\r\nNA,"text","""IH1""",0.0300000000000011,21.544,11,32\r\nNA,"text","""N""",0.0599999999999987,21.604,11,32\r\nNA,"text","""S""",0.109999999999999,21.714,11,32\r\nNA,"text","""ER1""",0.181000000000001,21.895,11,32\r\nNA,"text","""CH""",0.0890000000000022,21.984,11,32\r\nNA,"text","""AH0""",0.0599999999999987,22.044,11,32\r\nNA,"text","""V""",0.0399999999999991,22.084,11,32\r\nNA,"text","""W""",0.18,22.264,11,32\r\nNA,"text","""AY1""",0.271000000000001,22.535,11,32\r\nNA,"text","""N""",0.0899999999999999,22.625,11,32\r\nNA,"text","""Z""",0.190000000000001,22.815,11,32\r\nNA,"text","""AH2""",0.109999999999999,22.925,11,32\r\nNA,"text","""N""",0.0399999999999991,22.965,11,32\r\nNA,"text","""AH0""",0.0899999999999999,23.055,11,32\r\nNA,"text","""W""",0.170000000000002,23.225,11,32\r\nNA,"text","""EH1""",0.16,23.385,11,32\r\nNA,"text","""R""",0.16,23.545,11,32\r\nNA,"text","""DH""",0.0500000000000007,24.023,12,29\r\nNA,"text","""AH0""",0.0889999999999986,24.112,12,29\r\nNA,"text","""T""",0.0410000000000004,24.153,12,29\r\nNA,"text","""W""",0.0790000000000006,24.232,12,29\r\nNA,"text","""IY1""",0.0800000000000018,24.312,12,29\r\nNA,"text","""S""",0.199999999999999,24.512,12,29\r\nNA,"text","""UW1""",0.129999999999999,24.642,12,29\r\nNA,"text","""N""",0.140000000000001,24.782,12,29\r\nNA,"text","""W""",0.0500000000000007,24.832,12,29\r\nNA,"text","""UH1""",0.0410000000000004,24.873,12,29\r\nNA,"text","""D""",0.0700000000000003,24.943,12,29\r\nNA,"text","""M""",0.0789999999999971,25.022,12,29\r\nNA,"text","""EY1""",0.161000000000001,25.183,12,29\r\nNA,"text","""K""",0.0590000000000011,25.242,12,29\r\nNA,"text","""AH0""",0.0899999999999999,25.332,12,29\r\nNA,"text","""K""",0.129999999999999,25.462,12,29\r\nNA,"text","""Y""",0.0300000000000011,25.492,12,29\r\nNA,"text","""UW1""",0.0299999999999976,25.522,12,29\r\nNA,"text","""L""",0.161000000000001,25.683,12,29\r\nNA,"text","""AH0""",0.0289999999999999,25.712,12,29\r\nNA,"text","""N""",0.0500000000000007,25.762,12,29\r\nNA,"text","""EH2""",0.0700000000000003,25.832,12,29\r\nNA,"text","""R""",0.0909999999999975,25.923,12,29\r\nNA,"text","""IY0""",0.130000000000003,26.053,12,29\r\nNA,"text","""D""",0.0599999999999987,26.113,12,29\r\nNA,"text","""IH2""",0.120000000000001,26.233,12,29\r\nNA,"text","""T""",0.129999999999999,26.363,12,29\r\nNA,"text","""UH1""",0.140000000000001,26.503,12,29\r\nNA,"text","""R""",0.120000000000001,26.623,12,29\r\nNA,"text","""AA1""",0.139999999999997,27.394,13,36\r\nNA,"text","""K""",0.0600000000000023,27.454,13,36\r\nNA,"text","""Y""",0.0289999999999999,27.483,13,36\r\nNA,"text","""AH0""",0.0399999999999991,27.523,13,36\r\nNA,"text","""P""",0.120000000000001,27.643,13,36\r\nNA,"text","""AY2""",0.181000000000001,27.824,13,36\r\nNA,"text","""IH0""",0.0489999999999995,27.873,13,36\r\nNA,"text","""NG""",0.0999999999999979,27.973,13,36\r\nNA,"text","""DH""",0.0300000000000011,28.003,13,36\r\nNA,"text","""IY0""",0.0710000000000015,28.074,13,36\r\nNA,"text","""IH0""",0.0599999999999987,28.134,13,36\r\nNA,"text","""K""",0.0590000000000011,28.193,13,36\r\nNA,"text","""S""",0.109999999999999,28.303,13,36\r\nNA,"text","""T""",0.070999999999998,28.374,13,36\r\nNA,"text","""R""",0.0890000000000022,28.463,13,36\r\nNA,"text","""IY1""",0.151,28.614,13,36\r\nNA,"text","""M""",0.0589999999999975,28.673,13,36\r\nNA,"text","""N""",0.141000000000002,28.814,13,36\r\nNA,"text","""AO2""",0.0700000000000003,28.884,13,36\r\nNA,"text","""R""",0.0689999999999991,28.953,13,36\r\nNA,"text","""TH""",0.111000000000001,29.064,13,36\r\nNA,"text","""IY1""",0.140000000000001,29.204,13,36\r\nNA,"text","""S""",0.120000000000001,29.324,13,36\r\nNA,"text","""T""",0.0299999999999976,29.354,13,36\r\nNA,"text","""K""",0.0600000000000023,29.414,13,36\r\nNA,"text","""AO1""",0.169999999999998,29.584,13,36\r\nNA,"text","""R""",0.0300000000000011,29.614,13,36\r\nNA,"text","""N""",0.0299999999999976,29.644,13,36\r\nNA,"text","""ER0""",0.170000000000002,29.814,13,36\r\nNA,"text","""AH0""",0.0399999999999991,29.854,13,36\r\nNA,"text","""V""",0.0399999999999991,29.894,13,36\r\nNA,"text","""IH1""",0.0900000000000034,29.984,13,36\r\nNA,"text","""T""",0.0389999999999979,30.023,13,36\r\nNA,"text","""AH0""",0.0309999999999988,30.054,13,36\r\nNA,"text","""L""",0.120000000000001,30.174,13,36\r\nNA,"text","""IY0""",0.289999999999999,30.464,13,36\r\nNA,"text","""F""",0.0300000000000011,30.893,14,49\r\nNA,"text","""R""",0.0799999999999983,30.973,14,49\r\nNA,"text","""IY1""",0.109999999999999,31.083,14,49\r\nNA,"text","""UH0""",0.0289999999999999,31.112,14,49\r\nNA,"text","""L""",0.200000000000003,31.312,14,49\r\nNA,"text","""IY1""",0.140999999999998,31.453,14,49\r\nNA,"text","""S""",0.179000000000002,31.632,14,49\r\nNA,"text","""S""",0.151,32.013,14,49\r\nNA,"text","""IY1""",0.129000000000005,32.142,14,49\r\nNA,"text","""N""",0.0509999999999948,32.193,14,49\r\nNA,"text","""ER0""",0.139000000000003,32.332,14,49\r\nNA,"text","""IY0""",0.0799999999999983,32.412,14,49\r\nNA,"text","""R""",0.149999999999999,32.562,14,49\r\nNA,"text","""EY1""",0.151000000000003,32.713,14,49\r\nNA,"text","""N""",0.0499999999999972,32.763,14,49\r\nNA,"text","""JH""",0.120000000000005,32.883,14,49\r\nNA,"text","""AH0""",0.029999999999994,32.913,14,49\r\nNA,"text","""Z""",0.160000000000004,33.073,14,49\r\nNA,"text","""F""",0.0499999999999972,33.163,14,49\r\nNA,"text","""ER0""",0.210000000000001,33.373,14,49\r\nNA,"text","""M""",0.160000000000004,33.533,14,49\r\nNA,"text","""R""",0.129999999999995,33.663,14,49\r\nNA,"text","""AH1""",0.0400000000000063,33.703,14,49\r\nNA,"text","""G""",0.0700000000000003,33.773,14,49\r\nNA,"text","""AH0""",0.0499999999999972,33.823,14,49\r\nNA,"text","""D""",0.0899999999999963,33.913,14,49\r\nNA,"text","""K""",0.110000000000007,34.023,14,49\r\nNA,"text","""OW1""",0.128999999999998,34.152,14,49\r\nNA,"text","""S""",0.100999999999999,34.253,14,49\r\nNA,"text","""T""",0.0300000000000011,34.283,14,49\r\nNA,"text","""L""",0.109999999999999,34.393,14,49\r\nNA,"text","""AY2""",0.100000000000001,34.493,14,49\r\nNA,"text","""N""",0.0700000000000003,34.563,14,49\r\nNA,"text","""AH0""",0.0300000000000011,34.593,14,49\r\nNA,"text","""L""",0.0799999999999983,34.673,14,49\r\nNA,"text","""AO1""",0.149000000000001,34.822,14,49\r\nNA,"text","""NG""",0.0609999999999999,34.883,14,49\r\nNA,"text","""DH""",0.0289999999999964,34.912,14,49\r\nNA,"text","""IY0""",0.111000000000004,35.023,14,49\r\nNA,"text","""IY1""",0.109999999999999,35.133,14,49\r\nNA,"text","""S""",0.0799999999999983,35.213,14,49\r\nNA,"text","""T""",0.0689999999999955,35.282,14,49\r\nNA,"text","""ER0""",0.0400000000000063,35.322,14,49\r\nNA,"text","""N""",0.0799999999999983,35.402,14,49\r\nNA,"text","""B""",0.080999999999996,35.483,14,49\r\nNA,"text","""AO1""",0.129000000000005,35.612,14,49\r\nNA,"text","""R""",0.0399999999999991,35.652,14,49\r\nNA,"text","""D""",0.0309999999999988,35.683,14,49\r\nNA,"text","""ER0""",0.149999999999999,35.833,14,49\r\nNA,"text","""T""",0.0700000000000003,35.921,15,21\r\nNA,"text","""UW1""",0.140000000000001,36.061,15,21\r\nNA,"text","""P""",0.0300000000000011,36.091,15,21\r\nNA,"text","""L""",0.0700000000000003,36.161,15,21\r\nNA,"text","""AE1""",0.109000000000002,36.27,15,21\r\nNA,"text","""S""",0.119999999999997,36.39,15,21\r\nNA,"text","""AH0""",0.0399999999999991,36.43,15,21\r\nNA,"text","""D""",0.149999999999999,36.58,15,21\r\nNA,"text","""P""",0.0500000000000043,36.63,15,21\r\nNA,"text","""L""",0.0799999999999983,36.71,15,21\r\nNA,"text","""EY1""",0.210999999999999,36.921,15,21\r\nNA,"text","""N""",0.0589999999999975,36.98,15,21\r\nNA,"text","""Z""",0.0900000000000034,37.07,15,21\r\nNA,"text","""AH0""",0.0300000000000011,37.1,15,21\r\nNA,"text","""N""",0.080999999999996,37.181,15,21\r\nNA,"text","""DH""",0.0300000000000011,37.211,15,21\r\nNA,"text","""AH0""",0.0489999999999995,37.26,15,21\r\nNA,"text","""W""",0.151000000000003,37.411,15,21\r\nNA,"text","""EH1""",0.189,37.6,15,21\r\nNA,"text","""S""",0.240000000000002,37.84,15,21\r\nNA,"text","""T""",0.140999999999998,37.981,15,21\r\nNA,"text","""AH0""",0.0599999999999952,38.324,16,25\r\nNA,"text","""N""",0.0300000000000011,38.354,16,25\r\nNA,"text","""D""",0.0200000000000031,38.374,16,25\r\nNA,"text","""DH""",0.0289999999999964,38.403,16,25\r\nNA,"text","""AH0""",0.0309999999999988,38.434,16,25\r\nNA,"text","""M""",0.0500000000000043,38.484,16,25\r\nNA,"text","""AH0""",0.0390000000000015,38.523,16,25\r\nNA,"text","""JH""",0.119999999999997,38.643,16,25\r\nNA,"text","""EH1""",0.0600000000000023,38.703,16,25\r\nNA,"text","""S""",0.090999999999994,38.794,16,25\r\nNA,"text","""T""",0.0590000000000046,38.853,16,25\r\nNA,"text","""IH0""",0.0609999999999999,38.914,16,25\r\nNA,"text","""K""",0.0489999999999995,38.963,16,25\r\nNA,"text","""AE1""",0.159999999999997,39.123,16,25\r\nNA,"text","""L""",0.111000000000004,39.234,16,25\r\nNA,"text","""P""",0.0390000000000015,39.273,16,25\r\nNA,"text","""S""",0.0799999999999983,39.353,16,25\r\nNA,"text","""AH0""",0.070999999999998,39.424,16,25\r\nNA,"text","""N""",0.0600000000000023,39.484,16,25\r\nNA,"text","""DH""",0.0390000000000015,39.523,16,25\r\nNA,"text","""AH0""",0.029999999999994,39.553,16,25\r\nNA,"text","""N""",0.100000000000001,39.653,16,25\r\nNA,"text","""AO1""",0.140000000000001,39.793,16,25\r\nNA,"text","""R""",0.131,39.924,16,25\r\nNA,"text","""TH""",0.169000000000004,40.093,16,25\r\nNA,"text","""HH""",0.348999999999997,40.586,17,21\r\nNA,"text","""W""",0.0600000000000023,40.646,17,21\r\nNA,"text","""EH1""",0.0309999999999988,40.677,17,21\r\nNA,"text","""R""",0.0290000000000035,40.706,17,21\r\nNA,"text","""IH1""",0.0799999999999983,40.786,17,21\r\nNA,"text","""T""",0.0499999999999972,40.836,17,21\r\nNA,"text","""AH0""",0.0300000000000011,40.866,17,21\r\nNA,"text","""L""",0.0609999999999999,40.927,17,21\r\nNA,"text","""IY0""",0.168999999999997,41.096,17,21\r\nNA,"text","""B""",0.0200000000000031,41.116,17,21\r\nNA,"text","""AH1""",0.110999999999997,41.227,17,21\r\nNA,"text","""T""",0.0390000000000015,41.266,17,21\r\nNA,"text","""S""",0.0799999999999983,41.346,17,21\r\nNA,"text",""

In [5]:
df2 = pd.read_csv("RG_nPVI_Check_consonant (4).csv")

In [6]:
df2

     Interval.Time  text  vowel  Duration  Offset  Breath.Group   m
0         2.568763  text    "S"     0.190   0.443             1  11
1         4.856826  text  "OW1"     0.149   0.592             1  11
2         6.188541  text   "HH"     0.110   0.702             1  11
3         7.929146  text  "IH1"     0.100   0.802             1  11
4         9.178178  text    "R"     0.090   0.892             1  11
..             ...   ...    ...       ...     ...           ...  ..
810            NaN  text  "ER1"     0.190  87.881            34  42
811            NaN  text    "N"     0.029  87.910            34  42
812            NaN  text  "EY2"     0.171  88.081            34  42
813            NaN  text    "M"     0.110  88.191            34  42
814            NaN  text    "Z"     0.090  88.281            34  42

[815 rows x 7 columns]

In [8]:
numberBG = np.max(df2["Breath.Group"])

In [9]:
VCsums = np.zeros(numberBG)

In [12]:
for i in range(1,numberBG+1):
  for j in range(0, len(df2)):
    if df2["Breath.Group"][j] == i:
      VCsums[i-1] = VCsums[i-1] + df2["Duration"][j]

In [13]:
VCsums

array([1.66 , 2.03 , 1.12 , 1.49 , 1.07 , 1.9  , 2.23 , 1.049, 2.36 ,
       1.379, 2.96 , 2.65 , 3.21 , 4.7  , 2.13 , 1.829, 1.839, 2.12 ,
       1.041, 2.371, 2.839, 4.421, 3.3  , 0.71 , 1.279, 3.621, 1.41 ,
       2.04 , 1.501, 2.81 , 2.101, 1.36 , 2.81 , 3.5  ])

In [26]:
newdf["VCDuration"] = VCsums

In [27]:
newdf

    BG  VDuration  VCDuration PrecV DeltaV DeltaC AvgV AvgC CoeffV CoeffC
0    1      0.788       1.660   NaN    NaN    NaN  NaN  NaN    NaN    NaN
1    2      0.959       2.030   NaN    NaN    NaN  NaN  NaN    NaN    NaN
2    3      0.439       1.120   NaN    NaN    NaN  NaN  NaN    NaN    NaN
3    4      0.769       1.490   NaN    NaN    NaN  NaN  NaN    NaN    NaN
4    5      0.352       1.070   NaN    NaN    NaN  NaN  NaN    NaN    NaN
5    6      0.799       1.900   NaN    NaN    NaN  NaN  NaN    NaN    NaN
6    7      0.919       2.230   NaN    NaN    NaN  NaN  NaN    NaN    NaN
7    8      0.530       1.049   NaN    NaN    NaN  NaN  NaN    NaN    NaN
8    9      0.978       2.360   NaN    NaN    NaN  NaN  NaN    NaN    NaN
9   10      0.453       1.379   NaN    NaN    NaN  NaN  NaN    NaN    NaN
10  11      1.300       2.960   NaN    NaN    NaN  NaN  NaN    NaN    NaN
11  12      1.110       2.650   NaN    NaN    NaN  NaN  NaN    NaN    NaN
12  13      1.693       3.210   NaN    NaN    NaN  NaN  NaN    NaN    NaN
13  14      2.057       4.700   NaN    NaN    NaN  NaN  NaN    NaN    NaN
14  15      0.768       2.130   NaN    NaN    NaN  NaN  NaN    NaN    NaN
15  16      0.652       1.829   NaN    NaN    NaN  NaN  NaN    NaN    NaN
16  17      0.731       1.839   NaN    NaN    NaN  NaN  NaN    NaN    NaN
17  18      1.091       2.120   NaN    NaN    NaN  NaN  NaN    NaN    NaN
18  19      0.359       1.041   NaN    NaN    NaN  NaN  NaN    NaN    NaN
19  20      1.130       2.371   NaN    NaN    NaN  NaN  NaN    NaN    NaN
20  21      1.171       2.839   NaN    NaN    NaN  NaN  NaN    NaN    NaN
21  22      1.512       4.421   NaN    NaN    NaN  NaN  NaN    NaN    NaN
22  23      1.450       3.300   NaN    NaN    NaN  NaN  NaN    NaN    NaN
23  24      0.208       0.710   NaN    NaN    NaN  NaN  NaN    NaN    NaN
24  25      0.339       1.279   NaN    NaN    NaN  NaN  NaN    NaN    NaN
25  26      1.651       3.621   NaN    NaN    NaN  NaN  NaN    NaN    NaN
26  27      0.419       1.410   NaN    NaN    NaN  NaN  NaN    NaN    NaN
27  28      0.598       2.040   NaN    NaN    NaN  NaN  NaN    NaN    NaN
28  29      0.521       1.501   NaN    NaN    NaN  NaN  NaN    NaN    NaN
29  30      0.803       2.810   NaN    NaN    NaN  NaN  NaN    NaN    NaN
30  31      0.559       2.101   NaN    NaN    NaN  NaN  NaN    NaN    NaN
31  32      0.688       1.360   NaN    NaN    NaN  NaN  NaN    NaN    NaN
32  33      1.171       2.810   NaN    NaN    NaN  NaN  NaN    NaN    NaN
33  34      1.350       3.500   NaN    NaN    NaN  NaN  NaN    NaN    NaN

**Calculate PrecV**

In [28]:
precV = Vsums/VCsums

In [29]:
precV

array([0.4746988 , 0.47241379, 0.39196429, 0.51610738, 0.32897196,
       0.42052632, 0.41210762, 0.50524309, 0.41440678, 0.32849891,
       0.43918919, 0.41886792, 0.52741433, 0.43765957, 0.36056338,
       0.35647895, 0.39749864, 0.51462264, 0.34486071, 0.47659216,
       0.41246918, 0.34200407, 0.43939394, 0.29295775, 0.26505082,
       0.45595139, 0.29716312, 0.29313725, 0.34710193, 0.28576512,
       0.26606378, 0.50588235, 0.41672598, 0.38571429])

In [30]:
newdf["PrecV"] = precV

In [31]:
newdf

    BG  VDuration  VCDuration     PrecV DeltaV DeltaC AvgV AvgC CoeffV CoeffC
0    1      0.788       1.660  0.474699    NaN    NaN  NaN  NaN    NaN    NaN
1    2      0.959       2.030  0.472414    NaN    NaN  NaN  NaN    NaN    NaN
2    3      0.439       1.120  0.391964    NaN    NaN  NaN  NaN    NaN    NaN
3    4      0.769       1.490  0.516107    NaN    NaN  NaN  NaN    NaN    NaN
4    5      0.352       1.070  0.328972    NaN    NaN  NaN  NaN    NaN    NaN
5    6      0.799       1.900  0.420526    NaN    NaN  NaN  NaN    NaN    NaN
6    7      0.919       2.230  0.412108    NaN    NaN  NaN  NaN    NaN    NaN
7    8      0.530       1.049  0.505243    NaN    NaN  NaN  NaN    NaN    NaN
8    9      0.978       2.360  0.414407    NaN    NaN  NaN  NaN    NaN    NaN
9   10      0.453       1.379  0.328499    NaN    NaN  NaN  NaN    NaN    NaN
10  11      1.300       2.960  0.439189    NaN    NaN  NaN  NaN    NaN    NaN
11  12      1.110       2.650  0.418868    NaN    NaN  NaN  NaN    NaN    NaN
12  13      1.693       3.210  0.527414    NaN    NaN  NaN  NaN    NaN    NaN
13  14      2.057       4.700  0.437660    NaN    NaN  NaN  NaN    NaN    NaN
14  15      0.768       2.130  0.360563    NaN    NaN  NaN  NaN    NaN    NaN
15  16      0.652       1.829  0.356479    NaN    NaN  NaN  NaN    NaN    NaN
16  17      0.731       1.839  0.397499    NaN    NaN  NaN  NaN    NaN    NaN
17  18      1.091       2.120  0.514623    NaN    NaN  NaN  NaN    NaN    NaN
18  19      0.359       1.041  0.344861    NaN    NaN  NaN  NaN    NaN    NaN
19  20      1.130       2.371  0.476592    NaN    NaN  NaN  NaN    NaN    NaN
20  21      1.171       2.839  0.412469    NaN    NaN  NaN  NaN    NaN    NaN
21  22      1.512       4.421  0.342004    NaN    NaN  NaN  NaN    NaN    NaN
22  23      1.450       3.300  0.439394    NaN    NaN  NaN  NaN    NaN    NaN
23  24      0.208       0.710  0.292958    NaN    NaN  NaN  NaN    NaN    NaN
24  25      0.339       1.279  0.265051    NaN    NaN  NaN  NaN    NaN    NaN
25  26      1.651       3.621  0.455951    NaN    NaN  NaN  NaN    NaN    NaN
26  27      0.419       1.410  0.297163    NaN    NaN  NaN  NaN    NaN    NaN
27  28      0.598       2.040  0.293137    NaN    NaN  NaN  NaN    NaN    NaN
28  29      0.521       1.501  0.347102    NaN    NaN  NaN  NaN    NaN    NaN
29  30      0.803       2.810  0.285765    NaN    NaN  NaN  NaN    NaN    NaN
30  31      0.559       2.101  0.266064    NaN    NaN  NaN  NaN    NaN    NaN
31  32      0.688       1.360  0.505882    NaN    NaN  NaN  NaN    NaN    NaN
32  33      1.171       2.810  0.416726    NaN    NaN  NaN  NaN    NaN    NaN
33  34      1.350       3.500  0.385714    NaN    NaN  NaN  NaN    NaN    NaN

# **Delta V (DV): Standard deviation of V**

In [32]:
df

      vowel  Duration  Breath.Group   m
0     "OW1"     0.149             1   5
1     "IH1"     0.100             1   5
2     "IY1"     0.140             1   5
3     "AA1"     0.209             1   5
4     "IH1"     0.190             1   5
..      ...       ...           ...  ..
312   "AH0"     0.030            34  16
313   "IY1"     0.129            34  16
314   "AH0"     0.071            34  16
315   "ER1"     0.190            34  16
316   "EY2"     0.171            34  16

[317 rows x 4 columns]

In [33]:
grouped_df = df.groupby("Breath.Group")
grouped_lists = grouped_df["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [34]:
Vstd = np.zeros(len(grouped_lists))

In [35]:
for i in range(0,len(grouped_lists)):
  Vstd[i] = np.std(grouped_lists["Duration"][i])

In [36]:
newdf["DeltaV"] = Vstd

In [37]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,NaN,NaN,NaN,NaN,NaN
1,2,0.959,2.030,0.472414,0.060733,NaN,NaN,NaN,NaN,NaN
2,3,0.439,1.120,0.391964,0.034049,NaN,NaN,NaN,NaN,NaN
3,4,0.769,1.490,0.516107,0.066182,NaN,NaN,NaN,NaN,NaN
4,5,0.352,1.070,0.328972,0.034379,NaN,NaN,NaN,NaN,NaN
5,6,0.799,1.900,0.420526,0.048088,NaN,NaN,NaN,NaN,NaN
6,7,0.919,2.230,0.412108,0.065548,NaN,NaN,NaN,NaN,NaN
7,8,0.530,1.049,0.505243,0.055356,NaN,NaN,NaN,NaN,NaN
8,9,0.978,2.360,0.414407,0.055345,NaN,NaN,NaN,NaN,NaN
9,10,0.453,1.379,0.328499,0.049155,NaN,NaN,NaN,NaN,NaN
10,11,1.300,2.960,0.439189,0.065177,NaN,NaN,NaN,NaN,NaN
11,12,1.110,2.650,0.418868,0.042612,NaN,NaN,NaN,NaN,NaN
12,13,1.693,3.210,0.527414,0.070134,NaN,NaN,NaN,NaN,NaN
13,14,2.057,4.700,0.437660,0.050213,NaN,NaN,NaN,NaN,NaN
14,15,0.768,2.130,0.360563,0.067995,NaN,NaN,NaN,NaN,NaN
15,16,0.652,1.829,0.356479,0.043856,NaN,NaN,NaN,NaN,NaN
16,17,0.731,1.839,0.397499,0.043689,NaN,NaN,NaN,NaN,NaN
17,18,1.091,2.120,0.514623,0.085732,NaN,NaN,NaN,NaN,NaN
18,19,0.359,1.041,0.344861,0.065977,NaN,NaN,NaN,NaN,NaN
19,20,1.130,2.371,0.476592,0.105647,NaN,NaN,NaN,NaN,NaN
20,21,1.171,2.839,0.412469,0.056179,NaN,NaN,NaN,NaN,NaN
21,22,1.512,4.421,0.342004,0.055137,NaN,NaN,NaN,NaN,NaN
22,23,1.450,3.300,0.439394,0.085676,NaN,NaN,NaN,NaN,NaN
23,24,0.208,0.710,0.292958,0.025328,NaN,NaN,NaN,NaN,NaN
24,25,0.339,1.279,0.265051,0.036597,NaN,NaN,NaN,NaN,NaN
25,26,1.651,3.621,0.455951,0.050990,NaN,NaN,NaN,NaN,NaN
26,27,0.419,1.410,0.297163,0.018977,NaN,NaN,NaN,NaN,NaN
27,28,0.598,2.040,0.293137,0.039126,NaN,NaN,NaN,NaN,NaN
28,29,0.521,1.501,0.347102,0.057577,NaN,NaN,NaN,NaN,NaN
29,30,0.803,2.810,0.285765,0.066727,NaN,NaN,NaN,NaN,NaN
30,31,0.559,2.101,0.266064,0.034190,NaN,NaN,NaN,NaN,NaN
31,32,0.688,1.360,0.505882,0.076794,NaN,NaN,NaN,NaN,NaN
32,33,1.171,2.810,0.416726,0.062045,NaN,NaN,NaN,NaN,NaN
33,34,1.350,3.500,0.385714,0.054796,NaN,NaN,NaN,NaN,NaN

# **Delta C (DC): Standard Deviation of C**

In [38]:
df2

     Interval.Time  text  vowel  Duration  Offset  Breath.Group   m
0         2.568763  text    "S"     0.190   0.443             1  11
1         4.856826  text  "OW1"     0.149   0.592             1  11
2         6.188541  text   "HH"     0.110   0.702             1  11
3         7.929146  text  "IH1"     0.100   0.802             1  11
4         9.178178  text    "R"     0.090   0.892             1  11
..             ...   ...    ...       ...     ...           ...  ..
810            NaN  text  "ER1"     0.190  87.881            34  42
811            NaN  text    "N"     0.029  87.910            34  42
812            NaN  text  "EY2"     0.171  88.081            34  42
813            NaN  text    "M"     0.110  88.191            34  42
814            NaN  text    "Z"     0.090  88.281            34  42

[815 rows x 7 columns]

In [40]:
#subset df2 to contain only consonants
df2["vowel"].unique()

array(['"S"', '"OW1"', '"HH"', '"IH1"', '"R"', '"W"', '"IY1"', '"AA1"',
       '"N"', '"T"', '"AH1"', '"K"', '"AH0"', '"EY1"', '"M"', '"AO1"',
       '"ER0"', '"V"', '"DH"', '"IY0"', '"AE1"', '"L"', '"P"', '"AY2"',
       '"F"', '"UH1"', '"AO2"', '"TH"', '"EH1"', '"AA2"', '"AY1"',
       '"UW1"', '"D"', '"Z"', '"ER1"', '"NG"', '"UH0"', '"AY0"', '"CH"',
       '"AH2"', '"Y"', '"EH2"', '"IH2"', '"IH0"', '"JH"', '"G"', '"B"',
       '"AW1"', '"OW2"', '"EY2"', '"AE0"', '"UH2"'], dtype=object)

In [49]:
df2["vowel"][0]

'"S"'

In [52]:
values = ['"OW1"', '"IH1"', '"IY1"', '"AA1"', '"AH1"', '"AH0"','"EY1"','"AO1"','"ER0"','"IY0"','"AE1"','"AY2"','"UH1"','"AO2"','"EH1"','"AA2"','"AY1"','"UW1"','"ER1"','"UH0"','"AY0"','"AH2"','"Y"','"EH2"','"IH2"','"IH0"','"AW1"','"OW2"','"EY2"','"AE0"','"UH2"']

#drop rows that contain any value in the list
df2 = df2[df2["vowel"].isin(values) == False]

In [53]:
df2

     Interval.Time  text vowel  Duration  Offset  Breath.Group   m
0         2.568763  text   "S"     0.190   0.443             1  11
2         6.188541  text  "HH"     0.110   0.702             1  11
4         9.178178  text   "R"     0.090   0.892             1  11
5        11.294635  text   "W"     0.051   0.943             1  11
8        18.275803  text   "R"     0.220   1.512             1  11
..             ...   ...   ...       ...     ...           ...  ..
808            NaN  text   "N"     0.120  87.371            34  42
809            NaN  text   "S"     0.160  87.691            34  42
811            NaN  text   "N"     0.029  87.910            34  42
813            NaN  text   "M"     0.110  88.191            34  42
814            NaN  text   "Z"     0.090  88.281            34  42

[491 rows x 7 columns]

In [91]:
grouped_df2 = df2.groupby("Breath.Group")
grouped_lists2 = grouped_df2["Duration"].apply(list)
grouped_lists2 = grouped_lists2.reset_index()

In [92]:
Cstd = np.zeros(len(grouped_lists2))

In [93]:
for i in range(0,len(grouped_lists2)):
  Cstd[i] = np.std(grouped_lists2["Duration"][i])

In [94]:
newdf["DeltaC"] = Cstd

In [95]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,0.064668,0.157600,0.145333,NaN,NaN
1,2,0.959,2.030,0.472414,0.060733,0.066489,0.106556,0.097364,NaN,NaN
2,3,0.439,1.120,0.391964,0.034049,0.046735,0.087800,0.097286,NaN,NaN
3,4,0.769,1.490,0.516107,0.066182,0.035467,0.109857,0.080111,NaN,NaN
4,5,0.352,1.070,0.328972,0.034379,0.040684,0.058667,0.071800,NaN,NaN
5,6,0.799,1.900,0.420526,0.048088,0.062462,0.079900,0.078643,NaN,NaN
6,7,0.919,2.230,0.412108,0.065548,0.038371,0.091900,0.072833,NaN,NaN
7,8,0.530,1.049,0.505243,0.055356,0.036259,0.132500,0.074143,NaN,NaN
8,9,0.978,2.360,0.414407,0.055345,0.060826,0.108667,0.086375,NaN,NaN
9,10,0.453,1.379,0.328499,0.049155,0.086959,0.090600,0.154333,NaN,NaN
10,11,1.300,2.960,0.439189,0.065177,0.051959,0.100000,0.087368,NaN,NaN
11,12,1.110,2.650,0.418868,0.042612,0.045511,0.092500,0.094375,NaN,NaN
12,13,1.693,3.210,0.527414,0.070134,0.035638,0.112867,0.074400,NaN,NaN
13,14,2.057,4.700,0.437660,0.050213,0.047238,0.102850,0.091138,NaN,NaN
14,15,0.768,2.130,0.360563,0.067995,0.055627,0.109714,0.097286,NaN,NaN
15,16,0.652,1.829,0.356479,0.043856,0.041613,0.072444,0.073563,NaN,NaN
16,17,0.731,1.839,0.397499,0.043689,0.087807,0.091375,0.085231,NaN,NaN
17,18,1.091,2.120,0.514623,0.085732,0.055520,0.121222,0.085750,NaN,NaN
18,19,0.359,1.041,0.344861,0.065977,0.045967,0.071800,0.085250,NaN,NaN
19,20,1.130,2.371,0.476592,0.105647,0.049066,0.141250,0.095462,NaN,NaN
20,21,1.171,2.839,0.412469,0.056179,0.058403,0.097583,0.111200,NaN,NaN
21,22,1.512,4.421,0.342004,0.055137,0.051582,0.079579,0.086939,NaN,NaN
22,23,1.450,3.300,0.439394,0.085676,0.050863,0.103571,0.084091,NaN,NaN
23,24,0.208,0.710,0.292958,0.025328,0.041185,0.052000,0.100400,NaN,NaN
24,25,0.339,1.279,0.265051,0.036597,0.041602,0.067800,0.078333,NaN,NaN
25,26,1.651,3.621,0.455951,0.050990,0.046358,0.086895,0.093050,NaN,NaN
26,27,0.419,1.410,0.297163,0.018977,0.047911,0.069833,0.099100,NaN,NaN
27,28,0.598,2.040,0.293137,0.039126,0.047288,0.085429,0.096133,NaN,NaN
28,29,0.521,1.501,0.347102,0.057577,0.035200,0.074429,0.081667,NaN,NaN
29,30,0.803,2.810,0.285765,0.066727,0.111112,0.114714,0.128467,NaN,NaN
30,31,0.559,2.101,0.266064,0.034190,0.063204,0.079857,0.110143,NaN,NaN
31,32,0.688,1.360,0.505882,0.076794,0.027468,0.098286,0.056000,NaN,NaN
32,33,1.171,2.810,0.416726,0.062045,0.048056,0.106455,0.089353,NaN,NaN
33,34,1.350,3.500,0.385714,0.054796,0.038484,0.084375,0.080400,NaN,NaN

# **Variable coefficient of vocalic intervals (VarcoV): DeltaV/Average V**

**Calculate average vowel duration in breath group**

In [76]:
grouped_df = df.groupby("Breath.Group")
grouped_lists = grouped_df["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [77]:
Vavg = np.zeros(len(grouped_lists))

In [78]:
for i in range(0,len(grouped_lists)):
  Vavg[i] = np.mean(grouped_lists["Duration"][i])

In [79]:
newdf["AvgV"] = Vavg

In [80]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,0.038453,0.157600,0.157600,NaN,NaN
1,2,0.959,2.030,0.472414,0.060733,0.060733,0.106556,0.106556,NaN,NaN
2,3,0.439,1.120,0.391964,0.034049,0.034049,0.087800,0.087800,NaN,NaN
3,4,0.769,1.490,0.516107,0.066182,0.066182,0.109857,0.109857,NaN,NaN
4,5,0.352,1.070,0.328972,0.034379,0.034379,0.058667,0.058667,NaN,NaN
5,6,0.799,1.900,0.420526,0.048088,0.048088,0.079900,0.079900,NaN,NaN
6,7,0.919,2.230,0.412108,0.065548,0.065548,0.091900,0.091900,NaN,NaN
7,8,0.530,1.049,0.505243,0.055356,0.055356,0.132500,0.132500,NaN,NaN
8,9,0.978,2.360,0.414407,0.055345,0.055345,0.108667,0.108667,NaN,NaN
9,10,0.453,1.379,0.328499,0.049155,0.049155,0.090600,0.090600,NaN,NaN
10,11,1.300,2.960,0.439189,0.065177,0.065177,0.100000,0.100000,NaN,NaN
11,12,1.110,2.650,0.418868,0.042612,0.042612,0.092500,0.092500,NaN,NaN
12,13,1.693,3.210,0.527414,0.070134,0.070134,0.112867,0.112867,NaN,NaN
13,14,2.057,4.700,0.437660,0.050213,0.050213,0.102850,0.102850,NaN,NaN
14,15,0.768,2.130,0.360563,0.067995,0.067995,0.109714,0.109714,NaN,NaN
15,16,0.652,1.829,0.356479,0.043856,0.043856,0.072444,0.072444,NaN,NaN
16,17,0.731,1.839,0.397499,0.043689,0.043689,0.091375,0.091375,NaN,NaN
17,18,1.091,2.120,0.514623,0.085732,0.085732,0.121222,0.121222,NaN,NaN
18,19,0.359,1.041,0.344861,0.065977,0.065977,0.071800,0.071800,NaN,NaN
19,20,1.130,2.371,0.476592,0.105647,0.105647,0.141250,0.141250,NaN,NaN
20,21,1.171,2.839,0.412469,0.056179,0.056179,0.097583,0.097583,NaN,NaN
21,22,1.512,4.421,0.342004,0.055137,0.055137,0.079579,0.079579,NaN,NaN
22,23,1.450,3.300,0.439394,0.085676,0.085676,0.103571,0.103571,NaN,NaN
23,24,0.208,0.710,0.292958,0.025328,0.025328,0.052000,0.052000,NaN,NaN
24,25,0.339,1.279,0.265051,0.036597,0.036597,0.067800,0.067800,NaN,NaN
25,26,1.651,3.621,0.455951,0.050990,0.050990,0.086895,0.086895,NaN,NaN
26,27,0.419,1.410,0.297163,0.018977,0.018977,0.069833,0.069833,NaN,NaN
27,28,0.598,2.040,0.293137,0.039126,0.039126,0.085429,0.085429,NaN,NaN
28,29,0.521,1.501,0.347102,0.057577,0.057577,0.074429,0.074429,NaN,NaN
29,30,0.803,2.810,0.285765,0.066727,0.066727,0.114714,0.114714,NaN,NaN
30,31,0.559,2.101,0.266064,0.034190,0.034190,0.079857,0.079857,NaN,NaN
31,32,0.688,1.360,0.505882,0.076794,0.076794,0.098286,0.098286,NaN,NaN
32,33,1.171,2.810,0.416726,0.062045,0.062045,0.106455,0.106455,NaN,NaN
33,34,1.350,3.500,0.385714,0.054796,0.054796,0.084375,0.084375,NaN,NaN

**Calculate average consonant duration in breath group**

In [86]:
grouped_df2 = df2.groupby("Breath.Group")
grouped_lists2 = grouped_df2["Duration"].apply(list)
grouped_lists2 = grouped_lists2.reset_index()

In [87]:
Cavg = np.zeros(len(grouped_lists2))

In [88]:
for i in range(0,len(grouped_lists2)):
  Cavg[i] = np.mean(grouped_lists2["Duration"][i])

In [89]:
newdf["AvgC"] = Cavg

In [90]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,0.038453,0.157600,0.145333,NaN,NaN
1,2,0.959,2.030,0.472414,0.060733,0.060733,0.106556,0.097364,NaN,NaN
2,3,0.439,1.120,0.391964,0.034049,0.034049,0.087800,0.097286,NaN,NaN
3,4,0.769,1.490,0.516107,0.066182,0.066182,0.109857,0.080111,NaN,NaN
4,5,0.352,1.070,0.328972,0.034379,0.034379,0.058667,0.071800,NaN,NaN
5,6,0.799,1.900,0.420526,0.048088,0.048088,0.079900,0.078643,NaN,NaN
6,7,0.919,2.230,0.412108,0.065548,0.065548,0.091900,0.072833,NaN,NaN
7,8,0.530,1.049,0.505243,0.055356,0.055356,0.132500,0.074143,NaN,NaN
8,9,0.978,2.360,0.414407,0.055345,0.055345,0.108667,0.086375,NaN,NaN
9,10,0.453,1.379,0.328499,0.049155,0.049155,0.090600,0.154333,NaN,NaN
10,11,1.300,2.960,0.439189,0.065177,0.065177,0.100000,0.087368,NaN,NaN
11,12,1.110,2.650,0.418868,0.042612,0.042612,0.092500,0.094375,NaN,NaN
12,13,1.693,3.210,0.527414,0.070134,0.070134,0.112867,0.074400,NaN,NaN
13,14,2.057,4.700,0.437660,0.050213,0.050213,0.102850,0.091138,NaN,NaN
14,15,0.768,2.130,0.360563,0.067995,0.067995,0.109714,0.097286,NaN,NaN
15,16,0.652,1.829,0.356479,0.043856,0.043856,0.072444,0.073563,NaN,NaN
16,17,0.731,1.839,0.397499,0.043689,0.043689,0.091375,0.085231,NaN,NaN
17,18,1.091,2.120,0.514623,0.085732,0.085732,0.121222,0.085750,NaN,NaN
18,19,0.359,1.041,0.344861,0.065977,0.065977,0.071800,0.085250,NaN,NaN
19,20,1.130,2.371,0.476592,0.105647,0.105647,0.141250,0.095462,NaN,NaN
20,21,1.171,2.839,0.412469,0.056179,0.056179,0.097583,0.111200,NaN,NaN
21,22,1.512,4.421,0.342004,0.055137,0.055137,0.079579,0.086939,NaN,NaN
22,23,1.450,3.300,0.439394,0.085676,0.085676,0.103571,0.084091,NaN,NaN
23,24,0.208,0.710,0.292958,0.025328,0.025328,0.052000,0.100400,NaN,NaN
24,25,0.339,1.279,0.265051,0.036597,0.036597,0.067800,0.078333,NaN,NaN
25,26,1.651,3.621,0.455951,0.050990,0.050990,0.086895,0.093050,NaN,NaN
26,27,0.419,1.410,0.297163,0.018977,0.018977,0.069833,0.099100,NaN,NaN
27,28,0.598,2.040,0.293137,0.039126,0.039126,0.085429,0.096133,NaN,NaN
28,29,0.521,1.501,0.347102,0.057577,0.057577,0.074429,0.081667,NaN,NaN
29,30,0.803,2.810,0.285765,0.066727,0.066727,0.114714,0.128467,NaN,NaN
30,31,0.559,2.101,0.266064,0.034190,0.034190,0.079857,0.110143,NaN,NaN
31,32,0.688,1.360,0.505882,0.076794,0.076794,0.098286,0.056000,NaN,NaN
32,33,1.171,2.810,0.416726,0.062045,0.062045,0.106455,0.089353,NaN,NaN
33,34,1.350,3.500,0.385714,0.054796,0.054796,0.084375,0.080400,NaN,NaN

**Divide vowel duration std by average vowel duration**

In [96]:
VarcoV = Vstd/Vavg

In [97]:
newdf["CoeffV"] = VarcoV

In [98]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,0.064668,0.157600,0.145333,0.243992,NaN
1,2,0.959,2.030,0.472414,0.060733,0.066489,0.106556,0.097364,0.569963,NaN
2,3,0.439,1.120,0.391964,0.034049,0.046735,0.087800,0.097286,0.387806,NaN
3,4,0.769,1.490,0.516107,0.066182,0.035467,0.109857,0.080111,0.602441,NaN
4,5,0.352,1.070,0.328972,0.034379,0.040684,0.058667,0.071800,0.585999,NaN
5,6,0.799,1.900,0.420526,0.048088,0.062462,0.079900,0.078643,0.601857,NaN
6,7,0.919,2.230,0.412108,0.065548,0.038371,0.091900,0.072833,0.713249,NaN
7,8,0.530,1.049,0.505243,0.055356,0.036259,0.132500,0.074143,0.417779,NaN
8,9,0.978,2.360,0.414407,0.055345,0.060826,0.108667,0.086375,0.509313,NaN
9,10,0.453,1.379,0.328499,0.049155,0.086959,0.090600,0.154333,0.542553,NaN
10,11,1.300,2.960,0.439189,0.065177,0.051959,0.100000,0.087368,0.651767,NaN
11,12,1.110,2.650,0.418868,0.042612,0.045511,0.092500,0.094375,0.460666,NaN
12,13,1.693,3.210,0.527414,0.070134,0.035638,0.112867,0.074400,0.621388,NaN
13,14,2.057,4.700,0.437660,0.050213,0.047238,0.102850,0.091138,0.488214,NaN
14,15,0.768,2.130,0.360563,0.067995,0.055627,0.109714,0.097286,0.619748,NaN
15,16,0.652,1.829,0.356479,0.043856,0.041613,0.072444,0.073563,0.605376,NaN
16,17,0.731,1.839,0.397499,0.043689,0.087807,0.091375,0.085231,0.478129,NaN
17,18,1.091,2.120,0.514623,0.085732,0.055520,0.121222,0.085750,0.707229,NaN
18,19,0.359,1.041,0.344861,0.065977,0.045967,0.071800,0.085250,0.918899,NaN
19,20,1.130,2.371,0.476592,0.105647,0.049066,0.141250,0.095462,0.747940,NaN
20,21,1.171,2.839,0.412469,0.056179,0.058403,0.097583,0.111200,0.575702,NaN
21,22,1.512,4.421,0.342004,0.055137,0.051582,0.079579,0.086939,0.692865,NaN
22,23,1.450,3.300,0.439394,0.085676,0.050863,0.103571,0.084091,0.827217,NaN
23,24,0.208,0.710,0.292958,0.025328,0.041185,0.052000,0.100400,0.487074,NaN
24,25,0.339,1.279,0.265051,0.036597,0.041602,0.067800,0.078333,0.539783,NaN
25,26,1.651,3.621,0.455951,0.050990,0.046358,0.086895,0.093050,0.586803,NaN
26,27,0.419,1.410,0.297163,0.018977,0.047911,0.069833,0.099100,0.271752,NaN
27,28,0.598,2.040,0.293137,0.039126,0.047288,0.085429,0.096133,0.457993,NaN
28,29,0.521,1.501,0.347102,0.057577,0.035200,0.074429,0.081667,0.773586,NaN
29,30,0.803,2.810,0.285765,0.066727,0.111112,0.114714,0.128467,0.581680,NaN
30,31,0.559,2.101,0.266064,0.034190,0.063204,0.079857,0.110143,0.428144,NaN
31,32,0.688,1.360,0.505882,0.076794,0.027468,0.098286,0.056000,0.781336,NaN
32,33,1.171,2.810,0.416726,0.062045,0.048056,0.106455,0.089353,0.582826,NaN
33,34,1.350,3.500,0.385714,0.054796,0.038484,0.084375,0.080400,0.649435,NaN

**Divide consonant duration std by average consonant duration**

In [99]:
VarcoC = Cstd/Cavg

In [100]:
newdf["CoeffC"] = VarcoC

In [101]:
newdf

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,0.788,1.660,0.474699,0.038453,0.064668,0.157600,0.145333,0.243992,0.444960
1,2,0.959,2.030,0.472414,0.060733,0.066489,0.106556,0.097364,0.569963,0.682893
2,3,0.439,1.120,0.391964,0.034049,0.046735,0.087800,0.097286,0.387806,0.480394
3,4,0.769,1.490,0.516107,0.066182,0.035467,0.109857,0.080111,0.602441,0.442717
4,5,0.352,1.070,0.328972,0.034379,0.040684,0.058667,0.071800,0.585999,0.566625
5,6,0.799,1.900,0.420526,0.048088,0.062462,0.079900,0.078643,0.601857,0.794250
6,7,0.919,2.230,0.412108,0.065548,0.038371,0.091900,0.072833,0.713249,0.526838
7,8,0.530,1.049,0.505243,0.055356,0.036259,0.132500,0.074143,0.417779,0.489038
8,9,0.978,2.360,0.414407,0.055345,0.060826,0.108667,0.086375,0.509313,0.704214
9,10,0.453,1.379,0.328499,0.049155,0.086959,0.090600,0.154333,0.542553,0.563450
10,11,1.300,2.960,0.439189,0.065177,0.051959,0.100000,0.087368,0.651767,0.594708
11,12,1.110,2.650,0.418868,0.042612,0.045511,0.092500,0.094375,0.460666,0.482234
12,13,1.693,3.210,0.527414,0.070134,0.035638,0.112867,0.074400,0.621388,0.479000
13,14,2.057,4.700,0.437660,0.050213,0.047238,0.102850,0.091138,0.488214,0.518313
14,15,0.768,2.130,0.360563,0.067995,0.055627,0.109714,0.097286,0.619748,0.571789
15,16,0.652,1.829,0.356479,0.043856,0.041613,0.072444,0.073563,0.605376,0.565679
16,17,0.731,1.839,0.397499,0.043689,0.087807,0.091375,0.085231,0.478129,1.030223
17,18,1.091,2.120,0.514623,0.085732,0.055520,0.121222,0.085750,0.707229,0.647469
18,19,0.359,1.041,0.344861,0.065977,0.045967,0.071800,0.085250,0.918899,0.539199
19,20,1.130,2.371,0.476592,0.105647,0.049066,0.141250,0.095462,0.747940,0.513988
20,21,1.171,2.839,0.412469,0.056179,0.058403,0.097583,0.111200,0.575702,0.525211
21,22,1.512,4.421,0.342004,0.055137,0.051582,0.079579,0.086939,0.692865,0.593312
22,23,1.450,3.300,0.439394,0.085676,0.050863,0.103571,0.084091,0.827217,0.604862
23,24,0.208,0.710,0.292958,0.025328,0.041185,0.052000,0.100400,0.487074,0.410213
24,25,0.339,1.279,0.265051,0.036597,0.041602,0.067800,0.078333,0.539783,0.531089
25,26,1.651,3.621,0.455951,0.050990,0.046358,0.086895,0.093050,0.586803,0.498203
26,27,0.419,1.410,0.297163,0.018977,0.047911,0.069833,0.099100,0.271752,0.483464
27,28,0.598,2.040,0.293137,0.039126,0.047288,0.085429,0.096133,0.457993,0.491896
28,29,0.521,1.501,0.347102,0.057577,0.035200,0.074429,0.081667,0.773586,0.431023
29,30,0.803,2.810,0.285765,0.066727,0.111112,0.114714,0.128467,0.581680,0.864913
30,31,0.559,2.101,0.266064,0.034190,0.063204,0.079857,0.110143,0.428144,0.573833
31,32,0.688,1.360,0.505882,0.076794,0.027468,0.098286,0.056000,0.781336,0.490503
32,33,1.171,2.810,0.416726,0.062045,0.048056,0.106455,0.089353,0.582826,0.537825
33,34,1.350,3.500,0.385714,0.054796,0.038484,0.084375,0.080400,0.649435,0.478660

# **Get Average Values per Column**

In [103]:
newdf.mean()

BG            17.500000
VDuration      0.891676
VCDuration     2.201176
PrecV          0.398355
DeltaV         0.054955
DeltaC         0.051870
AvgV           0.095320
AvgC           0.091862
CoeffV         0.579721
CoeffC         0.563323
dtype: float64