<a href="https://colab.research.google.com/github/Janina712/MLTSA22_JBoecher/blob/main/Other/rhythmMetrics_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0. Imports & Set-Up**

In [1]:
import pandas as pd
import numpy as np

In [2]:
#from google.colab import drive
#drive.mount("/content/gdrive")

In [3]:
%cd /content/gdrive/MyDrive/ColabNotebooks/

/content/gdrive/MyDrive/ColabNotebooks

Import Vowel Data Set

In [4]:
#from google.colab import files
#df1 = files.upload()

In [5]:
df1 = pd.read_csv("24fa_vowels.csv")

Import Consonant Data Set

In [6]:
#from google.colab import files
#df2 = files.upload()

In [7]:
df2 = pd.read_csv("24fa_consonants.csv")

Create Result Data Frame

In [8]:
result_df = pd.DataFrame(columns = ["BG", "VDuration","VCDuration","PrecV","DeltaV", "DeltaC", "AvgV", "AvgC", "CoeffV", "CoeffC"])

Check for Discrepancies Between df1 and df2

In [9]:
arr_df1 = df1["Breath.Group"].unique()

In [10]:
arr_df2 = df2["Breath.Group"].unique()

In [11]:
BG2drop = []
u = 0
for i in range(0,len(arr_df1)):
  if arr_df1[i] != arr_df2[i-u]: 
    u = u + 1
    BG2drop.append(i+1)

In [12]:
for d in range(0, len(BG2drop)):
  df1.drop(df1[df1['Breath.Group'] == BG2drop[d]].index, inplace = True)

In [13]:
df1 = df1.reset_index(drop=True)

In [14]:
arr_df1 = df1["Breath.Group"].unique()

**1. Percentage of Vocalic Intervals (PercV)**: Total vowel durations divided by sum of vowel and consonant durations.

1.1 Calculate Total Vowel Duration of Breath Group

In [15]:
numberBG = len(arr_df1)

In [16]:
Vsums = np.zeros(numberBG)

In [17]:
for i in range(1,numberBG-1):
  for j in range(0, len(df1)):
    if df1["Breath.Group"][j] == i:
      Vsums[i-1] = Vsums[i-1] + df1["Duration"][j]

In [18]:
len(Vsums)

125

1.2 Calculate Total Vowel + Consonant Duration

In [19]:
numberBG = len(arr_df1)

In [20]:
Csums = np.zeros(numberBG)

In [21]:
for i in range(1,numberBG+1):
  for j in range(0, len(df2)):
    if df2["Breath.Group"][j] == i:
      Csums[i-1] = Csums[i-1] + df2["Duration"][j]

In [22]:
VCsums = Vsums + Csums

In [23]:
len(VCsums)

125

1.3 Calculate Percentage of Vocalic Duration (PercV)

In [24]:
percV = Vsums/VCsums

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

1.4 Add to Result Data Frame

In [25]:
# add correct number of rows to dataframe
BGnumbered = list(range(1, numberBG+1))
result_df["BG"] = BGnumbered

In [26]:
result_df["VDuration"] = Vsums
result_df["VCDuration"] = VCsums
result_df["PrecV"] = percV

In [27]:
result_df

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,1.180,2.409,0.489830,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.450,0.980,0.459184,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0.500,0.560,0.892857,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.470,1.019,0.461237,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0.938,1.469,0.638530,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,0.378,1.049,0.360343,NaN,NaN,NaN,NaN,NaN,NaN
121,122,0.320,0.670,0.477612,NaN,NaN,NaN,NaN,NaN,NaN
122,123,0.250,0.499,0.501002,NaN,NaN,NaN,NaN,NaN,NaN
123,124,0.000,0.128,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
124,125,0.000,0.588,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

**2. Delta V (DV):** Standard deviation of vocalic intervals.

In [28]:
grouped_df1 = df1.groupby("Breath.Group")
grouped_lists = grouped_df1["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [29]:
Vstd = np.zeros(len(grouped_lists))

In [30]:
for i in range(0,len(grouped_lists)):
  Vstd[i] = np.std(grouped_lists["Duration"][i])

In [31]:
len(Vstd)

125

Add to Result Data Frame

In [32]:
result_df["DeltaV"] = Vstd

In [33]:
result_df

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,1.180,2.409,0.489830,0.050048,NaN,NaN,NaN,NaN,NaN
1,2,0.450,0.980,0.459184,0.064220,NaN,NaN,NaN,NaN,NaN
2,3,0.500,0.560,0.892857,0.069442,NaN,NaN,NaN,NaN,NaN
3,4,0.470,1.019,0.461237,0.065084,NaN,NaN,NaN,NaN,NaN
4,5,0.938,1.469,0.638530,0.055208,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,0.378,1.049,0.360343,0.040000,NaN,NaN,NaN,NaN,NaN
121,122,0.320,0.670,0.477612,0.062198,NaN,NaN,NaN,NaN,NaN
122,123,0.250,0.499,0.501002,0.066346,NaN,NaN,NaN,NaN,NaN
123,124,0.000,0.128,0.000000,0.070158,NaN,NaN,NaN,NaN,NaN
124,125,0.000,0.588,0.000000,0.122958,NaN,NaN,NaN,NaN,NaN

**3. Delta C (DC):** Standard deviation of consonantal intervals.

In [34]:
grouped_df2 = df2.groupby("Breath.Group")
grouped_lists2 = grouped_df2["Duration"].apply(list)
grouped_lists2 = grouped_lists2.reset_index()

In [35]:
Cstd = np.zeros(len(grouped_lists2))

In [36]:
for i in range(0,len(grouped_lists2)):
  Cstd[i] = np.std(grouped_lists2["Duration"][i])

In [37]:
len(Cstd)

125

Add to Result Data Frame

In [38]:
result_df["DeltaC"] = Cstd

In [39]:
result_df

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,1.180,2.409,0.489830,0.050048,0.045225,NaN,NaN,NaN,NaN
1,2,0.450,0.980,0.459184,0.064220,0.059970,NaN,NaN,NaN,NaN
2,3,0.500,0.560,0.892857,0.069442,0.000000,NaN,NaN,NaN,NaN
3,4,0.470,1.019,0.461237,0.065084,0.021496,NaN,NaN,NaN,NaN
4,5,0.938,1.469,0.638530,0.055208,0.020521,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,0.378,1.049,0.360343,0.040000,0.009672,NaN,NaN,NaN,NaN
121,122,0.320,0.670,0.477612,0.062198,0.036177,NaN,NaN,NaN,NaN
122,123,0.250,0.499,0.501002,0.066346,0.038468,NaN,NaN,NaN,NaN
123,124,0.000,0.128,0.000000,0.070158,0.022264,NaN,NaN,NaN,NaN
124,125,0.000,0.588,0.000000,0.122958,0.036426,NaN,NaN,NaN,NaN

**4. Variable coefficient of vocalic intervals (VarcoV):** DeltaV divided by average vowel duration.

4.1 Calculate Average Vowel Duration in Breath Group

In [40]:
grouped_df1 = df1.groupby("Breath.Group")
grouped_lists = grouped_df1["Duration"].apply(list)
grouped_lists = grouped_lists.reset_index()

In [41]:
Vavg = np.zeros(len(grouped_lists))

In [42]:
for i in range(0,len(grouped_lists)):
  Vavg[i] = np.mean(grouped_lists["Duration"][i])

In [43]:
len(Vavg)

125

In [44]:
len(Vstd)

125

4.2 Divide Vowel Duration std by Average Vowel Duration

In [45]:
VarcoV = Vstd/Vavg

4.3 Add to Result Data Frame

In [46]:
result_df["AvgV"] = Vavg
result_df["CoeffV"] = VarcoV

In [47]:
result_df

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,1.180,2.409,0.489830,0.050048,0.045225,0.084286,NaN,0.593787,NaN
1,2,0.450,0.980,0.459184,0.064220,0.059970,0.112500,NaN,0.570847,NaN
2,3,0.500,0.560,0.892857,0.069442,0.000000,0.166667,NaN,0.416653,NaN
3,4,0.470,1.019,0.461237,0.065084,0.021496,0.058750,NaN,1.107814,NaN
4,5,0.938,1.469,0.638530,0.055208,0.020521,0.093800,NaN,0.588575,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,0.378,1.049,0.360343,0.040000,0.009672,0.121000,NaN,0.330579,NaN
121,122,0.320,0.670,0.477612,0.062198,0.036177,0.147875,NaN,0.420613,NaN
122,123,0.250,0.499,0.501002,0.066346,0.038468,0.099000,NaN,0.670158,NaN
123,124,0.000,0.128,0.000000,0.070158,0.022264,0.083800,NaN,0.837209,NaN
124,125,0.000,0.588,0.000000,0.122958,0.036426,0.157500,NaN,0.780688,NaN

**5. Variable coefficient of consonantal intervals (VarcoC):** DeltaC divided by average consonant duration.

5.1 Calculate Average Consonant Duration in Breath Group

In [48]:
grouped_df2 = df2.groupby("Breath.Group")
grouped_lists2 = grouped_df2["Duration"].apply(list)
grouped_lists2 = grouped_lists2.reset_index()

In [49]:
Cavg = np.zeros(len(grouped_lists2))

In [50]:
for i in range(0,len(grouped_lists2)):
  Cavg[i] = np.mean(grouped_lists2["Duration"][i])

In [51]:
len(Cavg)

125

5.2 Divide Consonant Duration std by Average Consonant Duration

In [52]:
VarcoC = Cstd/Cavg

5.3 Add to Result Data Frame

In [53]:
result_df["AvgC"] = Cavg
result_df["CoeffC"] = VarcoC

In [54]:
result_df

,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC
0,1,1.180,2.409,0.489830,0.050048,0.045225,0.084286,0.076813,0.593787,0.588768
1,2,0.450,0.980,0.459184,0.064220,0.059970,0.112500,0.106000,0.570847,0.565755
2,3,0.500,0.560,0.892857,0.069442,0.000000,0.166667,0.030000,0.416653,0.000000
3,4,0.470,1.019,0.461237,0.065084,0.021496,0.058750,0.054900,1.107814,0.391553
4,5,0.938,1.469,0.638530,0.055208,0.020521,0.093800,0.048273,0.588575,0.425103
...,...,...,...,...,...,...,...,...,...,...
120,121,0.378,1.049,0.360343,0.040000,0.009672,0.121000,0.042667,0.330579,0.226697
121,122,0.320,0.670,0.477612,0.062198,0.036177,0.147875,0.058800,0.420613,0.615251
122,123,0.250,0.499,0.501002,0.066346,0.038468,0.099000,0.060818,0.670158,0.632508
123,124,0.000,0.128,0.000000,0.070158,0.022264,0.083800,0.058571,0.837209,0.380112
124,125,0.000,0.588,0.000000,0.122958,0.036426,0.157500,0.076333,0.780688,0.477203

**6. Get the Means for Each Value Across Breath Groups**

In [60]:
result_df.mean();

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Add to Result Data Frame

In [56]:
result_df["M_VDuration"] = result_df.mean()[1]
result_df["M_VCDuration"] = result_df.mean()[2]
result_df["M_PercV"] = result_df.mean()[3]
result_df["M_DeltaV"] = result_df.mean()[4]
result_df["M_DeltaC"] = result_df.mean()[5]
result_df["M_AvgV"] = result_df.mean()[6]
result_df["M_AvgC"] = result_df.mean()[7]
result_df["M_CoeffV"] = result_df.mean()[8]
result_df["M_CoeffC"] = result_df.mean()[9]

**7. Finalize Result Data Frame & Export**

In [57]:
result_df["ID"] = "24fa" 
first_column = result_df.pop('ID')
result_df.insert(0, 'ID', first_column)

In [58]:
result_df

,ID,BG,VDuration,VCDuration,PrecV,DeltaV,DeltaC,AvgV,AvgC,CoeffV,CoeffC,M_VDuration,M_VCDuration,M_PercV,M_DeltaV,M_DeltaC,M_AvgV,M_AvgC,M_CoeffV,M_CoeffC
0,24fa,1,1.180,2.409,0.489830,0.050048,0.045225,0.084286,0.076813,0.593787,0.588768,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
1,24fa,2,0.450,0.980,0.459184,0.064220,0.059970,0.112500,0.106000,0.570847,0.565755,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
2,24fa,3,0.500,0.560,0.892857,0.069442,0.000000,0.166667,0.030000,0.416653,0.000000,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
3,24fa,4,0.470,1.019,0.461237,0.065084,0.021496,0.058750,0.054900,1.107814,0.391553,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
4,24fa,5,0.938,1.469,0.638530,0.055208,0.020521,0.093800,0.048273,0.588575,0.425103,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,24fa,121,0.378,1.049,0.360343,0.040000,0.009672,0.121000,0.042667,0.330579,0.226697,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
121,24fa,122,0.320,0.670,0.477612,0.062198,0.036177,0.147875,0.058800,0.420613,0.615251,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
122,24fa,123,0.250,0.499,0.501002,0.066346,0.038468,0.099000,0.060818,0.670158,0.632508,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
123,24fa,124,0.000,0.128,0.000000,0.070158,0.022264,0.083800,0.058571,0.837209,0.380112,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504
124,24fa,125,0.000,0.588,0.000000,0.122958,0.036426,0.157500,0.076333,0.780688,0.477203,0.541232,1.050584,0.529691,0.052294,0.033716,0.094665,0.062934,0.549161,0.505504

In [59]:
result_df.to_excel("PercDeltaOutput_24fa.xlsx")