<a href="https://colab.research.google.com/github/Janina712/MLTSA22_JBoecher/blob/main/Other/Segmented2Metrics_ProcessingPipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0. Imports & Set Up**

In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
%cd /content/gdrive/MyDrive/RhythmAnalysisPipeline/

/content/gdrive/MyDrive/RhythmAnalysisPipeline

**1. Load Data Files**

In [4]:
IDs = ['24fa', '24ma', '24mb', '26f', '29ma', '29mb', '29mc', '32m', '34m', '35mb', '46ma', '50fa', '50fb', '54f', '57m', '60m', '62f', '62m', 'C1_DS', 'C2_JH', 'C3_MD', 'C4_ZO', 'C5_HL', 'C6_LH', 'C7_SH', 'C9_RD', 'C10_KS', 'C11_NP', 'C12_CC', 'C13_RG']
condition = ['reading', 'interview']
extention = ['txt', 'TextGrid']

In [5]:
# get required shape of dataframes
max_read_txt = 0
max_read_TextGrid = 0
max_inter_txt = 0
max_inter_TextGrid = 0

In [6]:
for ID in IDs:
  for cond in condition:
    for ext in extention: 
      if cond == 'reading':
        if ext == 'txt': 
          if len(pd.read_csv(ID + '_' + cond + '.' + ext)) > max_read_txt: 
            max_read_txt = len(pd.read_csv(ID + '_' + cond + '.' + ext))
        elif ext == 'TextGrid':
          if len(pd.read_csv(ID + '_' + cond + '.' + ext)) > max_read_TextGrid: 
            max_read_TextGrid = len(pd.read_csv(ID + '_' + cond + '.' + ext))
      elif cond == 'interview':
        if ext == 'txt': 
          if len(pd.read_csv(ID + '_' + cond + '.' + ext)) > max_inter_txt: 
            max_inter_txt = len(pd.read_csv(ID + '_' + cond + '.' + ext))
        elif ext == 'TextGrid':
          if len(pd.read_csv(ID + '_' + cond + '.' + ext)) > max_inter_TextGrid: 
            max_inter_TextGrid = len(pd.read_csv(ID + '_' + cond + '.' + ext))

In [7]:
# initialize dataframes
df_read_txt = pd.DataFrame(index=range(max_read_txt),columns=range(1))
df_read_TextGrid = pd.DataFrame(index=range(max_read_TextGrid),columns=range(1))
df_inter_txt = pd.DataFrame(index=range(max_inter_txt),columns=range(1))
df_inter_TextGrid = pd.DataFrame(index=range(max_inter_TextGrid),columns=range(1))

In [8]:
#import data
for ID in IDs:
  for cond in condition:
    for ext in extention: 
      if cond == 'reading':
        if ext == 'txt': 
          df_read_txt[ID] = pd.read_csv(ID + '_' + cond + '.' + ext)
        elif ext == 'TextGrid':
          df_read_TextGrid[ID] = pd.read_csv(ID + '_' + cond + '.' + ext)
      elif cond == 'interview':
        if ext == 'txt': 
          df_inter_txt[ID] = pd.read_csv(ID + '_' + cond + '.' + ext)
        elif ext == 'TextGrid':
          df_inter_TextGrid[ID] = pd.read_csv(ID + '_' + cond + '.' + ext)

In [9]:
df_read_txt_wide = pd.DataFrame()
df_inter_txt_wide = pd.DataFrame()
df_read_TextGrid_wide = pd.DataFrame()
df_inter_TextGrid_wide = pd.DataFrame()

**2. Combine txt Files**

In [10]:
for ID in IDs:
  df_read_txt_wide = df_read_txt_wide.append(df_read_txt[ID].str.split("\t", expand = True, n = 4), ignore_index=True) 
  df_inter_txt_wide = df_inter_txt_wide.append(df_inter_txt[ID].str.split("\t", expand = True, n = 4), ignore_index=True)

In [11]:
df_read_txt_wide.drop(columns=[0, 1], inplace = True)
df_read_txt_wide.rename(columns={2: 'Onset', 3: 'Offset', 4: "Utterance"}, inplace=True)
df_inter_txt_wide.drop(columns=[0, 1], inplace = True)
df_inter_txt_wide.rename(columns={2: 'Onset', 3: 'Offset', 4: "Utterance"}, inplace=True)

In [12]:
names_read = []
name_col_read = []
names_inter = []
name_col_inter = []

In [13]:
for ID in IDs:
  names_read.append([ID for i in range(len(df_read_txt))])
for n in range(0,30):
  name_col_read = name_col_read + names_read[n]

In [14]:
for ID in IDs:
  names_inter.append([ID for i in range(len(df_inter_txt))])
for n in range(0,30):
  name_col_inter = name_col_inter + names_inter[n]

In [15]:
df_read_txt_wide.insert(0, 'ID', name_col_read)
df_inter_txt_wide.insert(0, 'ID', name_col_inter)

In [16]:
df_read_txt_wide.dropna(inplace=True)
df_inter_txt_wide.dropna(inplace=True)

In [17]:
df_read_txt_wide

,ID,Onset,Offset,Utterance
0,24fa,2.0205862162006705,3.0087226392336275,tucked away in a
1,24fa,3.020408626769324,5.020485901671494,I have to admit that when I travel
2,24fa,5.020485901671494,6.630961801312035,history is not the first thing
3,24fa,6.632745275948972,7.815001039555456,food and wine are
4,24fa,7.815001039555456,9.07527111102979,and that's what sold me on
...,...,...,...,...
1101,C13_RG,73.63765097218517,76.77215518547806,here you'll find gray stone castles
1102,C13_RG,76.77215518547806,79.19131317450871,rather than sun drenched villas
1103,C13_RG,79.19131317450871,81.03704112169505,the people look different too
1104,C13_RG,81.03704112169505,84.38802292872269,taller and blonder than Southern Italians
1105,C13_RG,84.38802292872269,88.29247549434838,and with plenty of German and central European...

**3.1 Combine TextGrid Files: Reading**

In [18]:
IntervalSizeString = []

In [19]:
for ID in IDs: 
  IntervalSizeString.append(df_read_TextGrid[ID][11])

In [20]:
IntervalSize = []
for i in range(0,len(IntervalSizeString)):
  for z in IntervalSizeString[i].split():
    if z.isdigit():
        IntervalSize.append(int(z))

In [21]:
maxLength = max(IntervalSize)
lastRow = len(df_read_TextGrid)
n = -1

In [22]:
for ID in IDs:  
  n = n + 1
  endRow = IntervalSize[n] * 4 + 12
  df_read_TextGrid[ID][endRow:lastRow] = np.NaN

In [23]:
for c in range(0,12):
  df_read_TextGrid.drop([c], inplace = True)

In [24]:
for ID in IDs:
  df_read_TextGrid_wide = df_read_TextGrid_wide.append(df_read_TextGrid[ID].str.split(" = ", expand = True, n = 1), ignore_index=True)

In [25]:
df_read_TextGrid_wide = df_read_TextGrid_wide[df_read_TextGrid_wide[0].str.contains("xmin|xmax") == True]

In [26]:
onsets = df_read_TextGrid_wide[df_read_TextGrid_wide[0].str.contains("xmin") == True]
offsets = df_read_TextGrid_wide[df_read_TextGrid_wide[0].str.contains("xmax") == True]

In [27]:
onsets.index = range(len(onsets.index))
offsets.index = range(len(offsets.index))

In [28]:
duration = []

In [29]:
for i in range (0,(len(offsets))):
  duration.append(float(offsets[1][i]) - float(onsets[1][i]))

In [30]:
duration = pd.DataFrame(duration)

In [31]:
read_TextGrid_duration = pd.concat([onsets, offsets, duration], axis=1)

In [32]:
read_TextGrid_duration.columns = ['min', 'Onset', 'max','Offset','Duration']

In [33]:
read_TextGrid_duration.drop(['min', 'max'], axis=1, inplace = True)

In [34]:
ID_col = pd.DataFrame(columns=range(1))

In [35]:
n = -1

In [36]:
for ID in IDs:
  n = n + 1
  ID_col = ID_col.append([ID]*IntervalSize[n])

In [37]:
ID_col.index = range(len(ID_col.index))

In [38]:
read_TextGrid_duration = pd.concat([ID_col, read_TextGrid_duration], axis=1)

In [39]:
read_TextGrid_duration.columns = ['ID', 'Onset', 'Offset','Duration']

In [40]:
read_TextGrid_duration

           ID      Onset     Offset  Duration
0        24fa   0.000000   0.013000     0.013
1        24fa   0.013000   0.143000     0.130
2        24fa   0.143000   0.263000     0.120
3        24fa   0.263000   0.343000     0.080
4        24fa   0.343000   0.482000     0.139
...       ...        ...        ...       ...
24338  C13_RG  87.881000  87.910000     0.029
24339  C13_RG  87.910000  88.081000     0.171
24340  C13_RG  88.081000  88.191000     0.110
24341  C13_RG  88.191000  88.281000     0.090
24342  C13_RG  88.281000  88.293000     0.012

[24343 rows x 4 columns]

**3.2 Combine TextGrid Files: Interview**

In [41]:
IntervalSizeString = []

In [42]:
for ID in IDs: 
  IntervalSizeString.append(df_inter_TextGrid[ID][11])

In [43]:
IntervalSize = []
for i in range(0,len(IntervalSizeString)):
  for z in IntervalSizeString[i].split():
    if z.isdigit():
        IntervalSize.append(int(z))

In [44]:
maxLength = max(IntervalSize)
lastRow = len(df_inter_TextGrid)
n = -1

In [45]:
for ID in IDs:  
  n = n + 1
  endRow = IntervalSize[n] * 4 + 12
  df_inter_TextGrid[ID][endRow:lastRow] = np.NaN

In [46]:
for c in range(0,12):
  df_inter_TextGrid.drop([c], inplace = True)

In [47]:
for ID in IDs:
  df_inter_TextGrid_wide = df_inter_TextGrid_wide.append(df_inter_TextGrid[ID].str.split(" = ", expand = True, n = 1), ignore_index=True)

In [48]:
df_inter_TextGrid_wide = df_inter_TextGrid_wide[df_inter_TextGrid_wide[0].str.contains("xmin|xmax") == True]

In [49]:
onsets = df_inter_TextGrid_wide[df_inter_TextGrid_wide[0].str.contains("xmin") == True]
offsets = df_inter_TextGrid_wide[df_inter_TextGrid_wide[0].str.contains("xmax") == True]

In [50]:
onsets.index = range(len(onsets.index))
offsets.index = range(len(offsets.index))

In [51]:
duration = []

In [52]:
for i in range (0,(len(offsets))):
  duration.append(float(offsets[1][i]) - float(onsets[1][i]))

In [53]:
duration = pd.DataFrame(duration)

In [54]:
inter_TextGrid_duration = pd.concat([onsets, offsets, duration], axis=1)

In [55]:
inter_TextGrid_duration.columns = ['min', 'Onset', 'max','Offset','Duration']

In [56]:
inter_TextGrid_duration.drop(['min', 'max'], axis=1, inplace = True)

In [57]:
ID_col = pd.DataFrame(columns=range(1))

In [58]:
n = -1

In [59]:
for ID in IDs:
  n = n + 1
  ID_col = ID_col.append([ID]*IntervalSize[n])

In [60]:
ID_col.index = range(len(ID_col.index))

In [61]:
inter_TextGrid_duration = pd.concat([ID_col, inter_TextGrid_duration], axis=1)

In [62]:
inter_TextGrid_duration.columns = ['ID', 'Onset', 'Offset','Duration']

In [63]:
inter_TextGrid_duration

           ID       Onset      Offset  Duration
0        24fa    0.000000    0.027000     0.027
1        24fa    0.027000    0.127000     0.100
2        24fa    0.127000    0.187000     0.060
3        24fa    0.187000    0.277000     0.090
4        24fa    0.277000    0.327000     0.050
...       ...         ...         ...       ...
76292  C13_RG  163.144000  163.214000     0.070
76293  C13_RG  163.214000  163.284000     0.070
76294  C13_RG  163.284000  163.584000     0.300
76295  C13_RG  163.584000  163.684000     0.100
76296  C13_RG  163.684000  163.695000     0.011

[76297 rows x 4 columns]

**4. Save Combined Data Files**

In [64]:
dir = "1.CombinedInputFiles"

if os.path.exists(dir) == False:
  os.mkdir(dir)

In [65]:
%cd /content/gdrive/MyDrive/RhythmAnalysisPipeline/1.CombinedInputFiles/

/content/gdrive/MyDrive/RhythmAnalysisPipeline/1.CombinedInputFiles

In [66]:
df_read_txt_wide.to_excel("read_txt_comb.xlsx")
df_inter_txt_wide.to_excel("interview_txt_comb.xlsx")
read_TextGrid_duration.to_excel("read_TextGrid_comb.xlsx")
inter_TextGrid_duration.to_excel("interview_TextGrid_comb.xlsx")